body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 600;
	// backdrop-filter: blur(3px);
}

.popup-show body::after {
	opacity: 1;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	// padding: 30px 10px;
	transition: all 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
	z-index: 999;
	// display: none;
	// overscroll-behavior: contain;

	// .loaded & {
	// 	display: block;
	// }
}

.popup_show {
	// z-index: 150;
	z-index: 999;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}

.popup_show .popup__content {
	visibility: visible;
	opacity: 1; // Тоже новое свойство
	transform: scale(1);
}

.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup__content {
	position: relative;
	visibility: hidden;
	// transform: scale(0);
	transform: scale(0.6);
	opacity: 0; // Тоже новое свойство
	// transition: transform 0.3s ease 0s;
	transition: all 0.6s ease 0s;
	background-color: #fff;
	width: 100%;
	border-radius: toRem(20);

	max-width: toRem(656);
	height: toRem(530);


	@include adaptiveValue("padding-right", 70, 15);
	@include adaptiveValue("padding-left", 70, 15);
	@include adaptiveValue("padding-top", 54, 50);
	@include adaptiveValue("padding-bottom", 54, 50);

	.subscription-popup & {
		@media (max-width: toEm(600)) {
			height: toRem(430);

			background-color: $grayColor;
		}
	}

	.lock & {
		visibility: visible;
	}
}

.popup__top-line {
	display: flex;
	justify-content: space-between;

	border-bottom: 1px solid rgba(0, 0, 0, 0.2);

	@include adaptiveValue("padding-bottom", 60, 45);
}

.popup__close {
	position: absolute;
	top: 20px;
	right: 40px;
	// display: flex;
	// justify-content: center;
	// align-items: center;
	// margin-left: auto;

	// background: $mainColor;
	// border-radius: 50%;

	// @include adaptiveValue("width", 70, 40);
	// @include adaptiveValue("height", 70, 40);

	svg {
		@include adaptiveValue("width", 16, 14);
		@include adaptiveValue("height", 16, 14);
	}

	// @media (any-hover: hover) {
	// 	&:hover {
	// 		svg {
	// 			path {
	// 				stroke: $mainColor;
	// 			}
	// 		}
	// 	}
	// }
}

.popup__text {
	display: flex;
	flex-direction: column;
	height: 100%;
}


.progress-container {
	position: relative;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 26px;
	padding-bottom: 80px;

	&__slogan {
		position: absolute;
		display: flex;
		justify-content: center;
		padding: toRem(5) toRem(20);
		right: 0;
		top: 15px;
		width: 56%;
		border-radius: 5px;

		font-size: 10px;
		background-color: $lightGreenColor;
	}
}

.progress-bar {
	position: absolute;
	top: 49.6%;
	left: 0;
	right: 0;
	height: 2px;
	background-color: #B7B7B7;
	z-index: 1;
}

.progress-line {
	position: absolute;
	top: 0;
	/* Должно быть внутри .progress-bar */
	left: 0;
	height: 8px;
	/* Толщина */
	background-color: green;
	/* Цвет */
	width: 0;
	transition: width 0.3s ease;
	z-index: 20;
}

.point {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 10px;
	height: 10px;
	background-color: #B7B7B7;
	border-radius: 50%;
	z-index: 30;
	transition: transform 0.2s, background-color 0.2s;
	cursor: pointer;
}

.point:hover {
	transform: translate(-50%, -50%) scale(1.6);
}

.point.active {
	transform: translate(-50%, -50%) scale(1.6);
	background-color: $brightGreenColor;
	border: 2px solid #B7B7B7;
}

.point-label {
	position: absolute;
	font-size: 10px;
	color: #949494;
	transform: translateX(-50%);
	white-space: nowrap;
}

.top-label {
	top: 10px;
}

.bottom-label {
	bottom: 10px;
}

.hover-text {
	max-width: toRem(142);
	position: absolute;
	top: calc(50% + 30px);
	left: 50%;
	transform: translateX(-50%);
	padding: 7px 15px;
	font-size: 10px;
	line-height: normal;
	opacity: 0;
	transition: opacity 0.2s;
	background-color: #fff;
	text-align: center;
	// white-space: nowrap;
	z-index: 4;

	border: 2px solid var(--grey);
	border-radius: 5px;
	padding: 7px 15px;
}

.period-text {
	position: absolute;
	top: calc(50% + 14px);
	left: 50%;
	transform: translateX(-50%);
	background-color: $lightGreenColor;
	color: $mainColor;
	padding: toRem(5) toRem(10);
	border-radius: 5px;
	font-size: 10px;
	opacity: 0;
	transition: opacity 0.3s;
	white-space: nowrap;
	z-index: 4;
}

.period-text.visible {
	opacity: 1;
}

#price {
	font-weight: 600;
	@include adaptiveValue("font-size", 40, 32);
}


.popup {

	/* .popup__wrapper */
	&__wrapper {}

	/* .popup__content */
	&__content {}

	/* .popup__close */
	&__close {}

	/* .popup__text */
	&__text {
		// .subscription-popup & {
		// 	display: grid;
		// }
	}

	/* .popup__title */
	&__title {
		margin-bottom: toRem(4);

		line-height: normal;
		font-weight: 600;
		@include adaptiveValue("font-size", 40, 20);
	}

	/* .popup__subtitle */
	&__subtitle {
		line-height: normal;

		@include adaptiveValue("font-size", 20, 16);
		@include adaptiveValue("margin-bottom", 40, 10);
	}

	/* .popup__slogan */
	&__slogan {
		line-height: normal;
		font-size: 10px;
		opacity: 0.5;

		margin-bottom: toRem(5);
		// @include adaptiveValue("margin-bottom", 20, 30);

		@media (max-width: toEm(600)) {
			margin-bottom: toRem(30);
		}
	}

	/* .popup__action */
	&__action {
		// margin-bottom: auto;
	}

	/* .popup__change-date */
	&__change-date {
		max-width: toRem(334);
		margin-bottom: toRem(8);

		line-height: normal;
		font-size: toRem(14);

		@media (max-width: toEm(600)) {
			display: none;
		}
	}

	/* .popup__progress */
	&__progress {}

	/* .popup__footer */
	&__footer {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-top: auto;

		&-button {
			height: 40px;

			font-size: toRem(16);
		}
	}


	/* .popup__price-box */
	&__price-box {}

	/* .popup__price-name */
	&__price-name {
		margin-bottom: toRem(10);

		font-size: toRem(14);
	}

	/* .popup__price */
	&__price {}
}

/* Показываем мобильные элементы на маленьких экранах */
@media (max-width: 600px) {
	.progress-container {
		display: none;
	}
}

#mobile-controls {
	display: none;

	@media (max-width: toEm(600)) {
		display: block;
		text-align: center;
	}

	._select-active .select__body {
		background-color: #fff;
		height: 33px;

	}

	.select {
		width: 144px !important;
		height: 28px;
		border-radius: 5px;
	}

}

#mobile-controls div {
	margin-bottom: 10px;
}

.change-date {
	display: flex;
	justify-content: space-between;
	align-items: center;

	label {
		font-size: 14px;
		text-align: left;
	}
}

.popup__month-count {
	display: flex;
	width: 100px;
	text-align: center;
	background-color: #fff;
	border-radius: 5px;
	height: 28px;
}

#decrease-btn,
#increase-btn {
	flex: 0 0 30px;
}

#month-count {
	text-align: center;
}

#popup__footer-button[disabled] {
	// opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;
	background: var(--dark-grey);
	/* Другие стили для disabled состояния */
}