body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 600;
	// backdrop-filter: blur(3px);
}

.popup-show body::after {
	opacity: 1;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	// padding: 30px 10px;
	transition: all 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
	z-index: 999;
	// display: none;
	// overscroll-behavior: contain;

	// .loaded & {
	// 	display: block;
	// }
}

.popup_show {
	// z-index: 150;
	z-index: 999;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}

.popup_show .popup__content {
	visibility: visible;
	opacity: 1; // Тоже новое свойство
	transform: scale(1);
}

.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup__content {
	position: relative;
	visibility: hidden;
	// transform: scale(0);
	transform: scale(0.6);
	opacity: 0; // Тоже новое свойство
	// transition: transform 0.3s ease 0s;
	transition: all 0.6s ease 0s;
	background-color: #fff;
	width: 100%;
	border-radius: toRem(20);

	max-width: toRem(656);
	min-height: toRem(530);


	@include adaptiveValue("padding-right", 70, 15);
	@include adaptiveValue("padding-left", 70, 15);
	@include adaptiveValue("padding-top", 54, 50);
	@include adaptiveValue("padding-bottom", 54, 50);

	.lock & {
		visibility: visible;
	}
}

.popup__top-line {
	display: flex;
	justify-content: space-between;

	border-bottom: 1px solid rgba(0, 0, 0, 0.2);

	@include adaptiveValue("padding-bottom", 60, 45);
}

.popup__close {
	position: absolute;
	top: 20px;
	right: 40px;
	// display: flex;
	// justify-content: center;
	// align-items: center;
	// margin-left: auto;

	// background: $mainColor;
	// border-radius: 50%;

	// @include adaptiveValue("width", 70, 40);
	// @include adaptiveValue("height", 70, 40);

	svg {
		@include adaptiveValue("width", 16, 14);
		@include adaptiveValue("height", 16, 14);
	}

	// @media (any-hover: hover) {
	// 	&:hover {
	// 		svg {
	// 			path {
	// 				stroke: $mainColor;
	// 			}
	// 		}
	// 	}
	// }
}

.popup__text {
	display: flex;
	flex-direction: column;
	padding-top: toRem(30);
}


.progress-container {
	position: relative;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 60px;
	padding-bottom: 80px;
}

.progress-bar {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 2px;
	background-color: #B7B7B7;
	opacity: .2;
	z-index: 1;
}

.progress-fill {
	position: absolute;
	top: 0;
	left: 0;
	height: 8px;
	/* Толще */
	background-color: black;
	/* Другой цвет */
	width: 0;
	transition: width 0.3s ease;
	z-index: 2;
}

.point {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 10px;
	height: 10px;
	background-color: #B7B7B7;
	border-radius: 50%;
	z-index: 30;
	transition: transform 0.2s, background-color 0.2s;
	cursor: pointer;
}

.point:hover {
	transform: translate(-50%, -50%) scale(1.6);
}

.point.active {
	transform: translate(-50%, -50%) scale(1.6);
	background-color: $brightGreenColor;
	border: 2px solid #B7B7B7;
}

.point-label {
	position: absolute;
	font-size: 12px;
	color: #000;
	transform: translateX(-50%);
	white-space: nowrap;
}

.top-label {
	top: 10px;
}

.bottom-label {
	bottom: 10px;
}

.hover-text {
	position: absolute;
	top: calc(50% + 30px);
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 12px;
	opacity: 0;
	transition: opacity 0.2s;
	white-space: nowrap;
	z-index: 4;
}

.period-text {
	position: absolute;
	top: calc(50% + 50px);
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 12px;
	opacity: 0;
	transition: opacity 0.2s;
	white-space: nowrap;
	z-index: 4;
}

.period-text.visible {
	opacity: 1;
}

#price {
	margin-top: 20px;
	font-size: 18px;
	font-weight: bold;
	color: green;
}