// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
	display: grid;
	gap: 15px;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		border-radius: 50%;
		flex-shrink: 0;

		@include adaptiveValue("width", 36, 30);
		@include adaptiveValue("height", 36, 30);

		&::before {
			content: '';
			position: absolute;
			transition: all 0.3s;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			border: 1px solid $masterColor;
		}

		@media (any-hover: hover) {
			&:hover {
				&::before {
					content: '';
					background: $masterColor;
					border: 1px solid $masterColor;
				}

				svg {
					path {
						stroke: $whiteColor;
					}
				}
			}
		}


		svg {
			position: relative;
			z-index: 100;
			transition: all 0.3s;
		}

		._spoller-active & {
			&::before {
				content: '';
				background: $secondColor;
				border-color: $secondColor;
			}

			svg {

				transform: rotate(45deg);

				path {
					stroke: $whiteColor;
				}
			}

		}
	}
}

// Спойлер
.spollers__item {
	overflow: hidden;
	@include adaptiveValue("border-radius", 10, 4);
}

// Заголовок спойлера
.spollers__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	cursor: default;
	text-align: left;
	position: relative;
	list-style: none;

	transition: all 0.3s;


	@include adaptiveValue("height", 74, 60);

	// @media (max-width:$mobile) {
	// 	font-size: toRem(18);
	// }

	&::marker,
	&::-webkit-details-marker {
		display: none;
	}

	._spoller-init & {
		cursor: pointer;

		// &::before,
		// &::after {
		// 	content: "";
		// 	position: absolute;
		// 	right: toRem(26);
		// 	top: 50%;
		// 	background-color: #000;
		// 	height: 2px;
		// 	width: 9px;
		// 	transition: transform 0.5s ease 0s;

		// 	@media (max-width: toEm(660)) {
		// 		top: 20%;
		// 	}
		// }

		// &::before {
		// 	transform: translate(-75%, -50%) rotate(40deg);
		// }

		// &::after {
		// 	transform: translate(0, -50%) rotate(-40deg);
		// }

		&._spoller-active {
			border-radius: 10px 10px 0 0;

			@media (max-width:$mobile) {
				border-radius: 4px 4px 0 0;
			}

			// color: $garkGreenColor;

			// &::before,
			// &::after {
			// 	// background-color: $mainColor;

			// }

			// &::before {
			// 	transform: translateX(-75%) rotate(-40deg);
			// }

			// &::after {
			// 	transform: rotate(40deg);
			// }
		}

		/*
		._spoller-init & {
			position: relative;
			width: 100%;
			text-align: left;
			&::before,
			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: toRem(12);
				height: toRem(1);
				transition: all 0.3s ease 0s;
				width: toRem(10);
				background-color: #000;
			}
			&::before {
				transform: rotate(40deg);
				right: toRem(7);
			}
			&::after {
				transform: rotate(-40deg);
			}
		}
		&._spoller-active {
			&::before {
				transform: rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
		*/
	}

}

// Контент спойлера
.spollers__body {
	// padding: toRem(20);
	// padding-left: 2px;
	// @include adaptiveValue("padding-top", 36, 27);
	background: $whiteColor;


	font-family: $secondColor;
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	color: rgba(0, 0, 0, 0.7);


	padding-bottom: toRem(30);
	padding-left: toRem(20);
	// @include adaptiveValue("padding-left", 30, 15);
	@include adaptiveValue("padding-right", 30, 15);

	@media (max-width:$mobile) {
		// padding-left: 0;
	}
}