//<BUTTONS (a.btn+tab)>
// Сниппет (HTML): btn

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 10px 30px;
	border-radius: toRem(5);
	background-color: $brightGreenColor;

	font-size: toRem(20);

	transition: all 0.3s;


	&:active{
		
	}

	@media (any-hover: hover) {
		&:hover {
			color: #fff;
			background-color: #64d210;
		}
	}
}