//<BUTTONS (a.btn+tab)>
// Сниппет (HTML): btn

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border-radius: toRem(20);
	background-color: $secondaryColor;
}