// <SELECT>
// Сниппет (HTML): sel
.select {
	min-width: 0;
	position: relative;
	max-width: 197px;
	width: 100%;



	// .select__body
	&__body {
		height: 40px;
		display: flex;
		align-items: center;
		position: relative;

		font-weight: 400;
		font-size: 15px;
		line-height: 107%;
		color: rgba(5, 5, 5, 0.7);

		border-radius: 6px;
		padding: 8px 10px 8px 12px;
		background: #f9f9f9;
	}

	// .select__title
	&__title {
		// color: inherit;
		text-align: left;
		// border: 1px solid #666;
		// background-color: #fff;
		cursor: pointer;
		width: 100%;

		font-weight: 400;
		font-size: 15px;
		line-height: 107%;
		// color: rgba(5, 5, 5, 0.7);

		// color: #666;
		// background: $mainColor;


		// @include adaptiveValue("height", 70, 60);
		// @include adaptiveValue("border-radius", 35, 30);
		border-radius: 6px;

		._select-open & {
			// color: inherit;
			// border-radius: 35px 35px 0 0;
		}

		._select-open & {}

		._select-open & {
			&::before {
				transform: translateX(-75%) rotate(-40deg);
			}

			&::after {
				transform: rotate(40deg);
			}

			&::before,
			&::after {
				// background-color: $mainColor;
			}
		}


		&::before,
		&::after {
			content: "";
			position: absolute;
			right: 18px;
			top: 50%;
			background-color: #050505;
			height: 1px;
			width: 8px;
			transition: transform 0.5s ease 0s;
		}

		&::before {
			transform: translate(-75%, -50%) rotate(40deg);
		}

		&::after {
			transform: translate(0, -50%) rotate(-40deg);
		}
	}

	// .select__value
	&__value {
		display: flex;
		min-width: 0;
		align-items: center;
		// height: toRem(50);
		// padding: 0 toRem(20);
		padding-left: 9px;
		gap: toRem(10);

		._select-open & {}


		>* {
			flex: 1 1 auto;
		}

		&:after {
			content: "";
			align-self: stretch;
			flex: 0 0 10px;
			transition: all 0.3s ease 0s;
			display: flex;
			justify-content: center;
			align-items: center;

			._select-open & {
				transform: rotate(-180deg);
			}
		}

		&._select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				// opacity: 0.5;
			}
		}
	}

	// .select__content  // ПЛЕЙСХОЛДEР
	&__content {
		flex: 1 1 auto;
		overflow: hidden;
		// text-overflow: ellipsis;
		white-space: nowrap;

		font-weight: 400;
		font-size: 15px;
		line-height: 107%;
		color: rgba(5, 5, 5, 0.7);

		@media (any-hover: hover) {
			&:hover {
				color: $masterColor;
			}
		}


		// @media (max-width:$mobile) {
		// 	font-size: toRem(14);
		// }



		// ._select-active & {
		// 	color: $mainColor;
		// }
	}

	// .select__text
	&__text {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;

		// ._select-open & {
		// 	border-bottom: 1px solid #ededed;
		// }

		// &::placeholder {
		// 	color: red;
		// }
	}

	// .select__options
	&__options {
		// color: #000;
		position: absolute;
		top: calc(100% - toRem(1));
		min-width: 100%;
		left: 0;
		border-top: 0;
		border: 1px solid #dfdfdf;
		border-radius: 6px;
		// height: 88px;
		padding-top: toRem(8);
		padding-bottom: toRem(8);
		background-color: #fff;
	}

	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальная высота
		max-height: toRem(200);

		// Стили скроллбара
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}

	// .select__option
	&__option {
		position: relative;
		width: 100%;
		text-align: left;
		cursor: pointer;
		padding: 10px 20px;
		transition: all 0.3s;

		font-weight: 400;
		font-size: 14px;
		line-height: 143%;
		letter-spacing: 0.01em;
		color: #333;

		// @media (max-width:$mobile) {
		// 	font-size: toRem(14);
		// }

		@media (any-hover: hover) {
			&:hover {
				background-color: $masterColor;
				color: #fff;
			}
		}

	}

	// Конструкция дополнительных данных
	&__row {
		display: inline-flex;
		align-items: center;
	}

	&__asset {}

	&__text {}

	&._form-error {
		border-radius: 35px;
		border: 1px solid #d42023;
		color: #d42023;
	}

	// Состояние селекта
	&._select-open {}

	&._select-disabled {}

	&._select-active {}

	&._select-focus {}

	&._select-multiple {}

	&._select-checkbox {}

	&._select-selected {}
}