@font-face {
	font-family: Unbounded;
	font-display: swap;
	src: url("../fonts/Unbounded-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Hikasami;
	font-display: swap;
	src: url("../fonts/Hikasami-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Hikasami;
	font-display: swap;
	src: url("../fonts/Hikasami-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Hikasami;
	font-display: swap;
	src: url("../fonts/Hikasami-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: Hikasami;
	font-display: swap;
	src: url("../fonts/Hikasami-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}