@font-face {
	font-family: Bounded;
	font-display: swap;
	src: url("../fonts/Bounded-ExtraLight.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: Hikasami;
	font-display: swap;
	src: url("../fonts/Hikasami-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Hikasami;
	font-display: swap;
	src: url("../fonts/Hikasami-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Hikasami;
	font-display: swap;
	src: url("../fonts/Hikasami-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: NTSomic;
	font-display: swap;
	src: url("../fonts/NTSomic-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Hikasami;
	font-display: swap;
	src: url("../fonts/Hikasami-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: NTSomic;
	font-display: swap;
	src: url("../fonts/NTSomic-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Bounded;
	font-display: swap;
	src: url("../fonts/Bounded-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Bounded;
	font-display: swap;
	src: url("../fonts/Bounded-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
