.comfortable {
  background-color: #fff;

  @media (max-width:$mobile){
     padding-bottom: 0 !important; 
  }

  /* .comfortable__content */
  &__content {
    padding: toRem(50);
    display: grid;
    grid-template-columns: 1fr 68%;

    overflow: hidden;
    border-radius: 20px;
    background-color: $grayColor;

    @include adaptiveValue("padding-left", 50, 10);
    @include adaptiveValue("padding-right", 50, 10);

    @media (max-width:$mobile) {
      grid-template-columns: auto;
      grid-template-rows: .4fr 1fr;

      padding-top: toRem(70);
      margin-right: -10px;
      margin-left: -10px;
    }

    @media (max-width: toEm(510)) {
      grid-template-rows: auto 1fr;
    }
  }

  /* .comfortable__decor */
  &__decor {
    position: relative;

    img {
      position: absolute;
      left: -52px;
      bottom: -20px;
      z-index: 10;

      @media (max-width:$mobile) {
        left: auto;
        bottom: -21px;
        right: -160px;
        transform: rotate(-33deg);
      }
    }
  }

  /* .comfortable__title */
  &__title {
    @media (max-width:$mobile) {
      margin-bottom: 30px;
    }

    @media (max-width:$mobileSmall) {
      max-width: 100px;
    }
  }

  /* .comfortable__items */
  &__items {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: toRem(20);

    z-index: 100;

    @media (max-width: toEm(510)) {
      grid-template-columns: auto;
      gap: toRem(10);
    }
  }

  /* .comfortable__item */
  &__item {
    padding: toRem(30);

    border-radius: 10px;
    backdrop-filter: blur(13px);
    background: #fff;

    @include adaptiveValue("padding-top", 30, 15);
    @include adaptiveValue("padding-right", 30, 15);
    @include adaptiveValue("padding-bottom", 30, 15);
    @include adaptiveValue("padding-left", 30, 15);
  }

  /* .comfortable__name */
  &__name {
    margin-bottom: 13px;

    font-size: toRem(20);
    font-weight: 600;
  }

  /* .comfortable__text */
  &__text {
    font-size: toRem(16);
    line-height: normal;

    @media (max-width:$mobile) {
      font-size: 14px;
    }
  }
}