.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: toRem(10) toRem(15);
  height: toRem(38);
  border-radius: toRem(5);

  transition: all 0.3s;

  &--lk {
    background-color: $brightGreenColor;

    @media (any-hover: hover) {
      &:hover {
        background: #64d210;
        color: #fff;
      }
    }

    @media (max-width:$tablet) {
      display: none;
    }
  }

  &--menu {
    @media (any-hover: hover) {
      &:hover {
        background: rgba(255, 215, 233, 0.35);
      }
    }
  }

  &._active {
    background: rgba(255, 215, 233, 0.35);
  }
}

.mob-btn-lk {
  display: none;

  @media (max-width:$tablet) {
    display: block;
  }
}

.title-h2 {
  font-family: $secondFamily;
  line-height: normal;

  @include adaptiveValue("font-size", 48, 24);
}

// .title-h3 {
//   font-weight: 400;
//   color: #000;

//   @include adaptiveValue("font-size", 24, 12);
// }

.subtitle {
  line-height: normal;

  @include adaptiveValue("font-size", 20, 16);
}

// .text {
//   font-weight: 400;
//   font-size: 14px;
// }


.breaker {
  display: none;

  @media (max-width:$tablet) {
    display: flex;
    width: 100%;
    height: toRem(25);
    flex: none;
    order: -1;

    @include adaptiveValue("height", 50, 25);
  }
}

.next-block {
  background: var(--grey);
  height: 320px;
}


.wrapper {
  @media (min-width:$tablet) {
    margin-top: 20px;
  }
}

section {
  background-color: #fff;
}

.section-110pb {
  @include adaptiveValue("padding-bottom", 110, 70);
}

.section-110pt {
  @include adaptiveValue("padding-top", 110, 70);
}

.section-110mb {
  @include adaptiveValue("margin-bottom", 110, 70);
}

.additional-content {
  padding: toRem(20);
  white-space: nowrap;

  text-align: center;

  h3 {
    margin-bottom: toRem(20);

    font-size: toRem(20);
    font-weight: 600;
  }

  p {
    margin-bottom: toRem(20);

    font-size: 14px;
  }
}

.favorite-btn {
  cursor: pointer;

  &.enable {


    svg {
      path {
        fill: #FFAED1;
        opacity: 1;
      }
    }
  }
}


.blog-top {
  position: relative;
  overflow: hidden;
  display: grid;
  // grid-template-columns: 67% auto;
  grid-template-columns: auto auto;
  gap: toRem(30);
  padding: toRem(40);

  border-radius: toRem(20);
  background-color: #fff;

  @include adaptiveValue("padding-left", 40, 20);
  @include adaptiveValue("padding-right", 40, 20);
  @include adaptiveValue("padding-top", 40, 30);
  @include adaptiveValue("padding-bottom", 40, 30);
  @include adaptiveValue("margin-bottom", 60, 30);

  @media (max-width: toEm(1140)) {
    gap: toRem(20);
  }

  @media (max-width: toEm(896)) {
    grid-template-columns: auto;
    justify-items: center;
    gap: toRem(60);

    &.auth {
      gap: toRem(40);
    }
  }

  @media (max-width:$mobileSmall) {
    margin-right: -10px;
    margin-left: -10px;
  }


  /* .blog-top__content */
  &__content {}

  /* .blog-top__title */
  &__title {
    margin-bottom: toRem(10);

    font-family: $secondFamily;

    line-height: normal;
    @include adaptiveValue("font-size", 40, 24);
  }

  /* .blog-top__subtitle */
  &__subtitle {
    position: relative;
    z-index: 40;

    line-height: normal;

    @include adaptiveValue("font-size", 20, 16);

    &:not(.auth &) {
      margin-bottom: toRem(30);
    }
  }

  /* .blog-top__features */
  &__features {
    display: grid;
    @include adaptiveValue("gap", 10, 18);

    .auth & {
      display: none;
    }
  }

  /* .blog-top__feature */
  &__feature {
    position: relative;
    padding-left: toRem(30);

    font-size: toRem(16);
    line-height: normal;

    &::before {
      content: '';
      position: absolute;
      background: url('@img/check.svg') 0 0 no-repeat;
      background-position: center;
      width: 20px;
      height: 20px;
      left: 0px;
    }

    @media (max-width:$mobile) {
      padding-left: toRem(26);

      font-size: toRem(14);

      &::before {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.premium-blog-top {
  position: relative;

  height: 100%;
  display: flex;
  flex-direction: column;


  &:not(.auth &) {
    border: 2px solid var(--grey);
    border-radius: 20px;

    overflow: hidden;
    padding-bottom: toRem(30);
    @include adaptiveValue("padding-top", 30, 20);
    @include adaptiveValue("padding-left", 30, 20);
    @include adaptiveValue("padding-right", 30, 20);

    @media (max-width: toEm(896)) {
      max-width: toRem(300);
      min-height: toRem(247);
    }
  }



  @media (max-width:$mobileSmall) {
    margin-right: -10px;
    margin-left: -10px;
  }


  /* .premium-blog-top__title */
  &__title {
    margin-bottom: toRem(10);

    font-weight: 600;
    line-height: normal;
    @include adaptiveValue("font-size", 24, 20);

    .auth & {
      display: none;
    }
  }

  /* .premium-blog-top__subtitle */
  &__subtitle {
    position: relative;
    margin-bottom: auto;

    z-index: 40;
    line-height: normal;
    @include adaptiveValue("font-size", 20, 16);

    .auth & {
      display: none;
    }
  }

  /* .premium-blog-top__button */
  &__button {
    position: relative;
    margin-top: auto;
    z-index: 50;

    .auth & {
      display: none;
    }

    &--auth-user {
      display: none;

      .auth & {
        display: inline-flex;
      }
    }
  }
}

.premium-decor {
  position: absolute;
  right: -12px;
  bottom: 42px;
  z-index: 10;

  .auth & {
    display: none;
  }

  @media (max-width: toEm(896)) {
    right: -1px;
  }
}


.premium-decor2 {
  display: none;
  position: absolute;
  right: -70px;
  bottom: -43px;
  z-index: 10;

  @media (max-width: toEm(896)) {
    right: -340px;
    bottom: -123px;
  }

  .auth & {
    display: block;
  }

}


.filter {
  display: flex;
  align-items: center;

  @include adaptiveValue("gap", 30, 15);
}

.filter-title {
  opacity: .5;

  font-size: 14px;
}

.filter-container {
  display: flex;

  @include adaptiveValue("gap", 6, 10);
}

.filter-category {
  padding: toRem(7) toRem(25);

  border-radius: 20px;
  background-color: #fff;

  font-size: 14px;

  transition: all 0.3s;

  @media (any-hover: hover) {
    &:hover {
      background: rgba(255, 174, 209, 0.35);
    }
  }
}

.remove-btn {
  // display: none;
}