.link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: toRem(10);
  height: toRem(40);
  border-radius: toRem(10);
  background-color: transparent;

  &._active{
    background-color: $selectColor;
  }
}

.link-act {
  background-color: $secondaryColor;
}

.title-h2 {
  font-family: var(--third-family);
  font-weight: 200;
  color: #000;

  @include adaptiveValue("font-size", 36, 20);
}

.title-h3 {
  font-weight: 400;
  color: #000;

  @include adaptiveValue("font-size", 24, 12);
}

.text {
  font-weight: 400;
  font-size: 14px;
}