.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: toRem(10) toRem(15);
  height: toRem(38);
  border-radius: toRem(5);

  transition: all 0.3s;

  &--lk {
    background-color: $brightGreenColor;

    @media (any-hover: hover) {
      &:hover {
        background: #64d210;
        color: #fff;
      }
    }

    @media (max-width:$tablet) {
      display: none;
    }
  }

  &--menu {
    @media (any-hover: hover) {
      &:hover {
        background: rgba(255, 215, 233, 0.35);
      }
    }
  }

  &._active {
    background: rgba(255, 215, 233, 0.35);
  }
}

.mob-btn-lk {
  display: none;

  @media (max-width:$tablet) {
    display: block;
  }
}

.title-h2 {
  font-family: $secondFamily;

  @include adaptiveValue("font-size", 48, 28);
}

// .title-h3 {
//   font-weight: 400;
//   color: #000;

//   @include adaptiveValue("font-size", 24, 12);
// }

.subtitle {
  text-align: center;
  color: var(--black);
}

// .text {
//   font-weight: 400;
//   font-size: 14px;
// }


.breaker {
  display: none;

  @media (max-width:$tablet) {
    display: flex;
    width: 100%;
    height: toRem(25);
    flex: none;
    order: -1;

    @include adaptiveValue("height", 50, 25);
  }
}

.next-block {
  background: var(--grey);
  height: 320px;
}