.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: toRem(10) toRem(15);
  height: toRem(38);
  border-radius: toRem(5);

  transition: all 0.3s;

  &--lk {
    background-color: $brightGreenColor;

    @media (any-hover: hover) {
      &:hover {
        background: #64d210;
        color: #fff;
      }
    }

    @media (max-width:$tablet) {
      display: none;
    }
  }

  &--menu {
    @media (any-hover: hover) {
      &:hover {
        background: rgba(255, 215, 233, 0.35);
      }
    }
  }

  &._active {
    background: rgba(255, 215, 233, 0.35);
  }
}

.mob-btn-lk {
  display: none;

  @media (max-width:$tablet) {
    display: block;
  }
}

.title-h2 {
  font-family: $secondFamily;
  line-height: normal;

  @include adaptiveValue("font-size", 48, 24);
}

// .title-h3 {
//   font-weight: 400;
//   color: #000;

//   @include adaptiveValue("font-size", 24, 12);
// }

.subtitle {
  line-height: normal;

  @include adaptiveValue("font-size", 20, 16);
}

// .text {
//   font-weight: 400;
//   font-size: 14px;
// }


.breaker {
  display: none;

  @media (max-width:$tablet) {
    display: flex;
    width: 100%;
    height: toRem(25);
    flex: none;
    order: -1;

    @include adaptiveValue("height", 50, 25);
  }
}

.next-block {
  background: var(--grey);
  height: 320px;
}


.wrapper {
  @media (min-width:$tablet) {
    margin-top: 20px;
  }
}

section {
  background-color: #fff;
}

section.blog,
section.profile {
  background: none;
}

.section-110pb {
  @include adaptiveValue("padding-bottom", 110, 70);
}

.section-110pt {
  @include adaptiveValue("padding-top", 110, 70);
}

.section-110mb {
  @include adaptiveValue("margin-bottom", 110, 70);
}

.mb-30 {
  margin-bottom: toRem(30);
}

.mb-20-10 {
  @include adaptiveValue("margin-bottom", 20, 10);
}

.mb-30-20 {
  @include adaptiveValue("margin-bottom", 30, 20);
}

.article-h2 {
  font-weight: 600;
  line-height: normal;
  @include adaptiveValue("font-size", 40, 24);
}

.additional-content {
  padding: toRem(20);
  white-space: nowrap;

  text-align: center;

  h3 {
    margin-bottom: toRem(20);

    font-size: toRem(20);
    font-weight: 600;
  }

  p {
    margin-bottom: toRem(20);

    font-size: 14px;
  }
}

.favorite-btn {
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;

  z-index: 100;

  &.enable {
    svg {
      path {
        fill: #FFAED1;
        opacity: 1;
      }
    }
  }

  .rec-articles & {
    opacity: .5;

    // svg {
    //   path {
    //     stroke: $mainColor;
    //   }
    // }
  }

}

.favorite-link {
  padding-right: toRem(40);
  margin-left: auto;

  @media (max-width: toEm(1200)) {
    span {
      display: none;
    }
  }
}

.favorite-link .favorite-btn {
  left: auto;
  right: 0px;
  top: 50%;
  transform: translate(0px, -50%);

  svg {
    path {
      stroke: $mainColor;
    }
  }
}




.blog-top {
  position: relative;
  overflow: hidden;
  display: grid;
  // grid-template-columns: 67% auto;
  grid-template-columns: auto 31%;
  gap: toRem(30);
  padding: toRem(40);

  border-radius: toRem(20);
  background-color: #fff;

  @include adaptiveValue("padding-left", 40, 20);
  @include adaptiveValue("padding-right", 40, 20);
  @include adaptiveValue("padding-top", 40, 30);
  @include adaptiveValue("padding-bottom", 40, 30);
  @include adaptiveValue("margin-bottom", 60, 30);

  @media (max-width: toEm(1140)) {
    gap: toRem(20);
  }

  @media (max-width: toEm(896)) {
    grid-template-columns: auto;
    justify-items: center;
    gap: toRem(60);

    &.auth {
      gap: toRem(40);
    }
  }

  @media (max-width:$mobileSmall) {
    margin-right: -10px;
    margin-left: -10px;
  }


  /* .blog-top__content */
  &__content {}

  /* .blog-top__title */
  &__title {
    margin-bottom: toRem(10);

    font-family: $secondFamily;

    line-height: normal;
    @include adaptiveValue("font-size", 40, 24);
  }

  /* .blog-top__subtitle */
  &__subtitle {
    position: relative;
    z-index: 40;

    line-height: normal;

    @include adaptiveValue("font-size", 20, 16);

    &:not(.auth &) {
      margin-bottom: toRem(30);
    }
  }

  /* .blog-top__features */
  &__features {
    display: grid;
    @include adaptiveValue("gap", 10, 18);

    .auth & {
      display: none;
    }
  }

  /* .blog-top__feature */
  &__feature {
    position: relative;
    padding-left: toRem(30);

    font-size: toRem(16);
    line-height: normal;

    &::before {
      content: '';
      position: absolute;
      background: url('@img/check.svg') 0 0 no-repeat;
      background-position: center;
      width: 20px;
      height: 20px;
      left: 0px;
    }

    @media (max-width:$mobile) {
      padding-left: toRem(26);

      font-size: toRem(14);

      &::before {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.premium-blog-top {
  position: relative;

  height: 100%;
  display: flex;
  flex-direction: column;


  &:not(.auth &) {
    border: 2px solid var(--grey);
    border-radius: 20px;

    overflow: hidden;
    padding-bottom: toRem(30);
    @include adaptiveValue("padding-top", 30, 20);
    @include adaptiveValue("padding-left", 30, 20);
    @include adaptiveValue("padding-right", 30, 20);

    @media (max-width: toEm(896)) {
      max-width: toRem(300);
      min-height: toRem(247);
    }
  }



  @media (max-width:$mobileSmall) {
    margin-right: -10px;
    margin-left: -10px;
  }


  /* .premium-blog-top__title */
  &__title {
    margin-bottom: toRem(10);

    font-weight: 600;
    line-height: normal;
    @include adaptiveValue("font-size", 24, 20);

    .auth & {
      display: none;
    }
  }

  /* .premium-blog-top__subtitle */
  &__subtitle {
    position: relative;
    margin-bottom: auto;

    z-index: 40;
    line-height: normal;
    @include adaptiveValue("font-size", 20, 16);

    .auth & {
      display: none;
    }
  }

  /* .premium-blog-top__button */
  &__button {
    position: relative;
    margin-top: auto;
    z-index: 50;

    .auth & {
      display: none;
    }

    &--auth-user {
      display: none;

      .auth & {
        display: inline-flex;
      }
    }
  }
}

.premium-decor {
  position: absolute;
  right: -12px;
  bottom: 42px;
  z-index: 10;

  .auth & {
    display: none;
  }

  @media (max-width: toEm(896)) {
    right: -1px;
  }
}


.premium-decor2 {
  display: none;
  position: absolute;
  right: -70px;
  bottom: -43px;
  z-index: 10;

  @media (max-width: toEm(896)) {
    right: -340px;
    bottom: -123px;
  }

  .auth & {
    display: block;
  }

}


.filter {
  display: flex;
  align-items: center;

  overflow-x: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include adaptiveValue("gap", 20, 15);

  @media (max-width: toEm(1164)) {
    margin-right: -10px;
  }
}

.filter-title {
  opacity: .5;

  font-size: 14px;
}

.filter-container {
  display: flex;

  @include adaptiveValue("gap", 6, 10);
}

.filter-category {
  padding: toRem(7) toRem(25);
  display: flex;
  align-items: center;
  gap: toRem(10);
  cursor: pointer;

  border-radius: 20px;
  background-color: #fff;

  font-size: 14px;
  white-space: nowrap;
  transition: all 0.3s;

  &.active {
    background-color: $pinkColor;
  }

  @media (any-hover: hover) {
    &:hover {
      background: rgba(255, 174, 209, 0.35);
    }
  }
}

.remove-btn {
  display: none;

  .active & {
    display: block;
  }
}

.training-articles__item {
  display: none;
  /* Скрыты по умолчанию */
}

.training-articles__item.visible {
  display: block;
  /* Показываются, если подходят под фильтр */
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 15px;

  &__item {

    a {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    @media (max-width:$mobile) {
      font-size: 14px;
    }
  }
}

.articles {
  &__media {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .block & {

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;

        background: #282828;
        background-blend-mode: overlay;
        opacity: 0.5;
        z-index: 50;
        border-radius: toRem(20) toRem(20) 0 0;
      }

      &::after {
        position: absolute;
        content: '';
        // left: 50%;
        // top: 50%;
        // transform: translate(-50%, 50%);
        width: toRem(28);
        height: toRem(37);
        background: url('@img/blog/overlay-icon.svg') 0 0 no-repeat;
        z-index: 60;
      }
    }
  }
}

.article {
  margin-bottom: toRem(20);

  background-color: $grayColor;


  &__container--intro {
    border-radius: toRem(20);
    background-color: #fff;

    @include adaptiveValue("padding-bottom", 60, 40);
    @include adaptiveValue("padding-top", 60, 40);
  }


  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  &__subtitle {
    max-width: toRem(590);

    line-height: normal;
  }
}

.title-article {
  margin-bottom: toRem(20);

  font-size: toRem(24);
  font-weight: 600;
}

.blog {
  padding-bottom: toRem(60);
}