.docs-experts {

  background-color: #fff;

  /* .docs-experts__container */
  &__container {}

  /* .docs-experts__title */
  &__title {
    margin-bottom: toRem(10);

    text-align: center;
  }

  /* .docs-experts__subtitle */
  &__subtitle {
    margin-bottom: 40px;

    text-align: center;
  }

  &__items {
    overflow-x: auto;
    scrollbar-width: none;
    position: relative;
    z-index: 20;

    @media (max-width:$tablet) {
      margin-right: -10px;
    }
  }

  /* .docs-experts__blogs */
  &__blogs,
  &__video {
    position: relative;

    @media (min-width:$tablet) {

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 250px;
        height: 250px;
        top: -20px;
        left: 50%;
        transform: translate(-50%, 0);

        background-color: $pinkColor;
        border-radius: 100%;

        z-index: 10;
      }
    }

  }

  /* .docs-experts__link */
  &__link {
    display: flex;
    justify-self: center;
    margin-top: toRem(30);

    @media (max-width:$mobileSmall) {
      width: 100%;
    }
  }

  /* .docs-experts__video */
  &__video {}
}


.blogs-docs {

  /* .blogs-docs__items */
  &__items {}

  /* .blogs-docs__item */
  &__item {}

  /* .blogs-docs__media */
  &__media {}

  /* .blogs-docs__tip */
  &__tip {}

  /* .blogs-docs__about */
  &__about {}

  /* .blogs-docs__title */
  &__title {}

  /* .blogs-docs__text */
  &__text {}

  /* .blogs-docs__link */
  &__link {}
}

.tip {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px 15px;

  border-radius: 16px;
  background-color: #fff;
  z-index: 10;

  font-size: toRem(16);

  @media (max-width:$mobile) {
    font-size: toRem(14);
  }
}


.video-docs {

  /* .video-docs__items */
  &__items {
    position: relative;
    z-index: 20;
    @include adaptiveValue("margin-top", 50, 75);
  }

  &__item {
    @media (max-width:$mobile){
       width: 80%;
       margin: 0 auto;
    }

    @media (max-width:$mobileSmall){
       width: 100%; 
    }
  }
}

.grid-items-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: toRem(20);
}

.grid-items-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: toRem(20);

  @media (max-width:$mobile) {
    grid-template-columns: auto;
  }
}

.cast-item {
  min-width: 240px;

  border: 2px solid var(--grey);
  border-radius: 10px;
  backdrop-filter: blur(13px);
  background: rgba(255, 255, 255, 0.5);

  .video-docs & {
    border: none;
    border-radius: 10px;
    backdrop-filter: none;
    background: transparent;
  }
}

.cast-media {
  position: relative;
  padding-bottom: 66.6%;

  img {
    border-radius: 10px;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.video-docs__media.cast-media {
  padding-bottom: 55.8%;
}

.cast-about {
  padding: toRem(20);

  @media (max-width:$mobile) {
    padding: toRem(15);
  }

  .video-docs & {
    padding-left: 0;
  }

  /* .cast-about__title */
  &__title {
    margin-bottom: toRem(7);

    font-size: 20px;
    font-weight: 600;
    line-height: normal;
  }

  /* .cast-about__text */
  &__text {

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 14px;
    line-height: normal;
  }
}

.cast-link {
  display: flex;
  align-items: center;
  gap: toRem(10);

  transition: opacity 0.3s;

  @include adaptiveValue("margin-top", 30, 15);

  @media (any-hover: hover) {
    &:hover {
      span {
        opacity: .5;
      }
    }
  }
}