.docs-articles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: toRem(20);

  @media (max-width: toEm(1036)) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: toEm(550)) {
    grid-template-columns: auto;
  }


  /* .docs-articles__media */
  &__media {
    display: flex;
    justify-content: center;

    .block & {

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;

        background: #282828;
        background-blend-mode: overlay;
        opacity: 0.5;
        z-index: 50;
        border-radius: toRem(20) toRem(20) 0 0;
      }

      &::after {
        position: absolute;
        content: '';
        top: 50%;
        transform: translate(0, -50%);
        width: toRem(28);
        height: toRem(37);
        background: url('@img/blog/overlay-icon.svg') 0 0 no-repeat;
        z-index: 60;
      }
    }
  }
}


.docs-article {

  /* .docs-article__container--intro */
  &__container--intro {}

  /* .docs-article__container */
  &__container {}

  /* .docs-article__top */
  &__top {}

  /* .docs-article__body */
  &__body {
    max-width: toRem(800);
    margin: 0 auto;
  }

  /* .docs-article__title */
  &__title {}

  /* .docs-article__image */
  &__image {
    max-width: 100%;
    border-radius: toRem(20);
  }

  /* .docs-article__item */
  &__item {
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }

  /* .docs-article__subtitle */
  &__subtitle {
    margin-bottom: toRem(10);

    font-size: 20px;
    font-weight: 600;
    line-height: normal;

  }

  p {
    line-height: normal;
  }
}

.article {

  /* .article__container--intro */
  &__container--intro {}

  /* .article__top */
  &__top {}

  /* .article__title */
  &__title {}
}

.breadcrumbs {

  /* .breadcrumbs__icon */
  &__icon {}

  /* .breadcrumbs__list */
  &__list {}

  /* .breadcrumbs__item */
  &__item {

    /* .breadcrumbs__item_active */
    &_active {}
  }
}

.mb-30 {}

.favorite-link {}

.favorite-btn {}

.mb-20-10 {}

.arcticle {

  /* .arcticle__body */
  &__body {}
}

.article-h2 {}