.docs-experts {

  background-color: #fff;

  /* .docs-experts__container */
  &__container {}

  /* .docs-experts__title */
  &__title {
    margin-bottom: toRem(10);

    text-align: center;
  }

  /* .docs-experts__subtitle */
  &__subtitle {
    margin-bottom: 40px;

    text-align: center;
  }

  &__items {
    overflow-x: auto;
    scrollbar-width: none;


    @media (max-width:$tablet) {
      margin-right: -10px;
    }
  }

  /* .docs-experts__blogs */
  &__blogs {}

  /* .docs-experts__link */
  &__link {
    display: flex;
    justify-self: center;
    margin-top: toRem(30);
  }

  /* .docs-experts__video */
  &__video {}
}


.blogs-docs {

  /* .blogs-docs__items */
  &__items {}

  /* .blogs-docs__item */
  &__item {}

  /* .blogs-docs__media */
  &__media {}

  /* .blogs-docs__tip */
  &__tip {}

  /* .blogs-docs__about */
  &__about {}

  /* .blogs-docs__title */
  &__title {}

  /* .blogs-docs__text */
  &__text {}

  /* .blogs-docs__link */
  &__link {}
}

.tip {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px 15px;

  border-radius: 16px;
  background-color: #fff;
  z-index: 10;

  font-size: toRem(16);

  @media (max-width:$mobile) {
    font-size: toRem(14);
  }
}



.button {}

.video-docs {

  /* .video-docs_text */
  &_text {}

  /* .video-docs__items */
  &__items {
    @include adaptiveValue("margin-top", 50, 75);
  }

  /* .video-docs__item */
  &__item {}

  /* .video-docs__media */
  &__media {}

  /* .video-docs__tip */
  &__tip {}

  /* .video-docs__about */
  &__about {}

  /* .video-docs__title */
  &__title {}
}

.grid-items-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: toRem(20);
}

.cast-item {
  min-width: 240px;

  border: 2px solid var(--grey);
  border-radius: 10px;
  backdrop-filter: blur(13px);
  background: rgba(255, 255, 255, 0.5);
}

.cast-media {
  position: relative;
  padding-bottom: 66.6%;

  img {
    border-radius: 10px;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.cast-about {
  padding: toRem(20);

  @media (max-width:$mobile) {
    padding: toRem(15);
  }

  /* .cast-about__title */
  &__title {
    margin-bottom: toRem(7);

    font-size: 20px;
    font-weight: 600;
    line-height: normal;
  }

  /* .cast-about__text */
  &__text {

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 14px;
    line-height: normal;
  }
}

.cast-link {
  display: flex;
  align-items: center;
  gap: toRem(10);

  transition: opacity 0.3s;

  @include adaptiveValue("margin-top", 30, 15);

  @media (any-hover: hover) {
    &:hover {
      span {
        opacity: .5;
      }
    }
  }
}