.docs-blog {

  /* .docs-blog__container */
  &__container {}
}


.docs-articles {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: toRem(20);

  @media (max-width: toEm(1036)) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: toEm(550)) {
    grid-template-columns: auto;
  }


  /* .docs-articles__media */
  &__media {
    display: flex;
    justify-content: center;

    .block & {

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;

        background: #282828;
        background-blend-mode: overlay;
        opacity: 0.5;
        z-index: 50;
        border-radius: toRem(20) toRem(20) 0 0;
      }

      &::after {
        position: absolute;
        content: '';
        top: 50%;
        transform: translate(0, -50%);
        width: toRem(28);
        height: toRem(37);
        background: url('@img/blog/overlay-icon.svg') 0 0 no-repeat;
        z-index: 60;
      }
    }
  }
}


.blogs-docs {

  /* .blogs-docs__item */
  &__item {}

  /* .blogs-docs__media */
  &__media {}

  /* .blogs-docs__about */
  &__about {}

  /* .blogs-docs__title */
  &__title {}

  /* .blogs-docs__text */
  &__text {}

  /* .blogs-docs__link */
  &__link {

    .block & {
      pointer-events: none;
    }
  }
}

.cast-item {}

.block {}

.cast-media {}

.cast-about {

  /* .cast-about__title */
  &__title {}

  /* .cast-about__text */
  &__text {}
}

.cast-link {}