.footer {
  padding-top: toRem(40);
  padding-bottom: toRem(40);
  background-color: #fff;

  /* .footer__container */
  &__container {}

  /* .footer__content */
  &__content {
    display: flex;
    justify-content: space-between;

    @include adaptiveValue("margin-bottom", 60, 30);

    @media (max-width: toEm(800)) {
      flex-wrap: wrap;
    }
  }

  /* .footer__img */
  &__img {
    margin-right: toRem(40);
  }

  /* .footer__menu */
  &__menu {}

  /* .footer__title */
  &__title {
    margin-bottom: toRem(20);

    font-weight: 500;
    font-size: 20px;

    &--fr {
      margin-bottom: auto;
    }
  }

  /* .footer__title--menu */
  &__title--menu {
    font-size: 16px;
  }

  /* .footer__menu-list */
  &__menu-list {
    display: grid;
    gap: toRem(15);
    margin-right: toRem(50);
  }

  /* .footer__menu-item */
  &__menu-item {}

  /* .footer__contacts */
  &__contacts {
    display: flex;
    flex-direction: column;
    gap: toRem(40);

    margin-right: toRem(15);

    @media (max-width: toEm(536)) {
      margin: 40px auto 0;
    }
  }

  /* .footer__title--contacts */
  &__title--contacts {}

  /* .footer__menu-contacts */
  &__menu-contacts {}

  /* .footer__social */
  &__social {}

  /* .footer__title--social */
  &__title--social {}

  /* .footer__social-list */
  &__social-list {
    display: flex;
    gap: toRem(10);

    li a {
      width: toRem(39);
      height: toRem(39);

      background: #d9d9d9;
    }
  }

  /* .footer__banner */
  &__banner {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: toRem(590);
    width: 100%;
    margin-left: auto;
    padding: toRem(20);
    background: url('@img/footer-img.jpg') right 0 no-repeat;
    background-size: cover;
    border-radius: toRem(20);

    @media (max-width: toEm(800)) {
      margin-top: toRem(30);
    }
  }

  /* .footer__link */
  &__link {
    margin-bottom: toRem(6);
  }

  /* .footer__icon-link */
  &__icon-link {}

  /* .footer__bottom */
  &__bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: toRem(15);
  }
}