.footer {
  padding-top: toRem(40);
  padding-bottom: toRem(40);
  background-color: #fff;

  /* .footer__container */
  &__container {}

  /* .footer__content */
  &__content {
    display: flex;
    justify-content: space-between;
    // @include adaptiveValue("gap", 70, 10);

    @include adaptiveValue("margin-bottom", 60, 30);

    @media (max-width: toEm(800)) {
      flex-wrap: wrap;
    }
  }

  &__column {
    white-space: nowrap;
  }

  /* .footer__img */
  &__img {
    // margin-right: toRem(40);
    @include adaptiveValue("margin-right", 70, 10);

    @media (max-width: toEm(1180)) {
      margin-right: toRem(20);
    }
  }

  /* .footer__menu */
  &__menu {}

  /* .footer__title */
  &__title {
    margin-bottom: toRem(20);

    font-weight: 700;
    font-size: 14px;

    &--fr {
      margin-bottom: auto;
    }
  }

  /* .footer__title--menu */
  // &__title--menu {
  //   font-size: 16px;
  // }

  /* .footer__menu-list */
  &__menu-list {
    display: grid;
    gap: toRem(12);
    margin-right: toRem(50);
  }

  /* .footer__menu-item */
  &__menu-item {
    font-size: toRem(14);
  }

  /* .footer__contacts */
  &__contacts {
    display: flex;
    flex-direction: column;
    gap: toRem(40);

    margin-right: toRem(15);

    @media (max-width: toEm(536)) {
      margin: 40px auto 0;
    }
  }

  /* .footer__title--contacts */
  &__title--contacts {}

  /* .footer__menu-contacts */
  &__menu-contacts {
    display: grid;
    gap: toRem(12);
  }

  /* .footer__social */
  &__social {}

  /* .footer__title--social */
  &__title--social {}

  /* .footer__social-list */
  &__social-list {
    display: flex;
    gap: toRem(10);
    margin-top: toRem(12);

    li a {
      width: toRem(30);
      height: toRem(30);

      border-radius: 5px;

      background: var(--black);
      opacity: 0.5;
    }
  }

  /* .footer__banner */
  &__banner {
    display: flex;
    flex-direction: column;
    position: relative;
    // max-width: toRem(590);
    width: toRem(387);
    // flex: 1 0 387px;
    max-width: 100%;
    margin-left: auto;
    padding: toRem(20);
    background: var(--grey);
    // background: url('@img/footer-img.jpg') right 0 no-repeat;
    background-size: cover;
    border-radius: toRem(20);

    @media (max-width: toEm(800)) {
      margin-top: toRem(30);
    }
  }

  /* .footer__link */
  &__link {
    margin-bottom: toRem(6);
  }

  /* .footer__icon-link */
  &__icon-link {}

  /* .footer__bottom */
  &__bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: toRem(15);
  }
}