//====================================================================================================
.header {
	&__wrapper {
		// position: fixed;
		margin-top: toRem(20);

		display: flex;
		align-items: center;
		justify-content: space-between;
		transition: all 0.4s;
		z-index: 800;

		.menu-open & {}

		._fixed & {}
	}


	&__nav,
	&__actions {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: toRem(10);
	}

	&__actions {
		padding: toRem(10);
		border-radius: toRem(20);
		background-color: #fff;
	}


	&__logo {
		width: toRem(60);
		height: toRem(60);
		padding: toRem(20);
		display: flex;
		justify-content: center;
		align-items: center;

		background-color: #fff;
		border-radius: toRem(10);

		img {
			width: 200%;
		}

		@media (max-width:$mobile) {
			width: toRem(35);
			height: toRem(35);
		}
	}
}

.menu {
	// padding: toRem(10) toRem(10) toRem(10) 0;
	padding: toRem(10);
	border-radius: toRem(20);

	background-color: #fff;


	// .menu__body

	&__body {
		display: flex;
		width: 100%;

		transition: all 1s;

		@media (max-width:$tablet) {
			flex-direction: column;
			align-items: flex-start;
			position: fixed;
			overflow: auto;
			height: auto;
			top: 0;
			left: 0;
			// transform: scale(.7);
			visibility: hidden;
			opacity: 0;
			padding: 25px 9px 25px;
			// min-height: 208px;
			gap: 8px !important;

			.menu-open & {
				// transform: scale(1);
				transition: all .7s;
				opacity: 1;
				visibility: visible;
				z-index: 700;
				background-color: $whiteColor;
				transform: translate(0, 48px);
				border-radius: 0 0 6px 6px;
			}
		}
	}

	&__item {

		._fixed & {}

	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;

	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: toRem(17);
		height: toRem(18);
		z-index: 990;

		@media (any-hover: none) {
			cursor: default;
		}

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(4);
			border-radius: toRem(20);
			// color: #000;
			background-color: $mainColor;
			width: toRem(22);
		}

		&::before {
			top: toRem(0);
			// right: toRem(7);
		}

		&::after {
			bottom: toRem(0);
			// right: toRem(16);
		}

		span {
			top: calc(50% - toRem(2));
		}

		.menu-open & {
			span {
				width: 0;
				display: none;
			}

			&::before,
			&::after {
				// background-color: $mainColor;
			}

			&::before {
				top: calc(50% - toRem(2));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - toRem(2));
				transform: rotate(45deg);
			}
		}
	}
}