//====================================================================================================
.header {
	&__wrapper {
		position: fixed;

		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		top: 0;
		left: 0;
		transition: all 0.4s;
		z-index: 800;
		height: 100px;

		@media (max-width:$tablet) {
			height: 80px;
		}

		@media (min-width:$tablet) {
			margin-top: 20px;

			._fixed & {
				margin-top: 0;
			}
		}
	}

	&__container {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-between;

		@media (max-width:$tablet) {
			background-color: #fff;
			height: 100%;
		}

		._fixed & {
			&::before {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: #fff;
				opacity: .8;
				z-index: -1;
				border-radius: 5px;
			}
		}
	}

	&__logo {
		img {
			width: toRem(60);
			height: toRem(60);
		}
	}

	&__link {

		span {
			margin-left: toRem(6);
			display: block;
		}
	}
}

.menu {
	@media (max-width:$tablet) {
		display: contents;
	}

	&__body {
		display: flex;
		width: 100%;
		gap: toRem(10);

		transition: all 1s;

		@media (max-width:$tablet) {
			flex-direction: column;
			position: fixed;
			overflow: auto;
			height: auto;
			top: 0;
			left: 0;
			// transform: scale(.7);
			background-color: #fff;
			visibility: hidden;
			opacity: 0;
			padding: 20px 9px 25px;
			gap: 8px !important;

			.menu-open & {
				// transform: scale(1);
				transition: all .7s;
				opacity: 1;
				visibility: visible;
				z-index: 700;
				background-color: $whiteColor;
				transform: translate(0, 78px);
				border-radius: 0 0 6px 6px;
			}
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;

	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: toRem(24);
		height: toRem(18);
		z-index: 990;

		@media (any-hover: none) {
			cursor: default;
		}

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			border-radius: toRem(20);
			// color: #000;
			background-color: $mainColor;
			// width: toRem(22);
		}

		&::before {
			top: toRem(0);
			// right: toRem(7);
		}

		&::after {
			bottom: toRem(0);
			// right: toRem(16);
		}

		span {
			top: calc(50% - toRem(1));
		}

		.menu-open & {
			span {
				width: 0;
				display: none;
			}

			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}