.landing-blog {

  // .landing-blog__container--intro

  &__container--intro {}

  // .landing-blog__head

  &__head {
    position: relative;
    min-height: toRem(213);

    background-color: #fff;
    border-radius: toRem(20);

    @media (max-width:$mobile) {
      min-height: toRem(160);
    }

    img {
      position: absolute;
      right: 0;
      top: 0;

      @media (max-width:$mobile) {
        display: none;
      }
    }
  }

  // .landing-blog__head--right

  &__head--right {
    @include adaptiveValue("padding-top", 50, 40);
  }

  // .landing-blog__title

  &__title {
    margin-bottom: toRem(15);
    // display: flex;
    // align-items: center;

    font-family: $secondFamily;
    @include adaptiveValue("font-size", 64, 24);
  }


  // .landing-blog__subtitle

  &__subtitle {
    line-height: normal;
    @include adaptiveValue("font-size", 20, 16);
  }

  // .landing-blog__container

  &__container {}

  // .landing-blog__wrapper

  &__wrapper {
    @include adaptiveValue("padding-top", 70, 40);
  }

  // .landing-blog__title-h2
  &__title-h2 {
    margin-bottom: toRem(10);
  }

  // .landing-blog__link-all

  &__link-all {
    display: flex;
    align-items: center;
    gap: toRem(15);

    @media (min-width:$mobile) {
      margin-bottom: toRem(30);
    }

    @media (max-width:$mobile) {
      display: none;
    }

    &--mob {
      display: none;

      @media (max-width:$mobile) {
        display: flex;
      }
    }
  }
}


.landing-blog-section {}



.landing-blog-health {

  // .landing-blog-health__slider

  &__slider {}
}

.swiper {}

.landing-blog-slider {

  // .landing-blog-slider__wrapper

  &__wrapper {}

  // .landing-blog-slider__slide

  &__slide {}

  // .landing-blog-slider__item

  &__item {}

  // .landing-blog-slider__media

  &__media {}

  // .landing-blog-slider__link

  &__link {}

  // .landing-blog-slider__image

  &__image {
    border-radius: toRem(20);
  }

  // .landing-blog-slider__info

  &__info {}

  // .landing-blog-slider__name

  &__name {}

  // .landing-blog-slider__decsr

  &__decsr {}
}