.landing-blog {

  &.blog {
    padding-bottom: toRem(0);
  }

  // .landing-blog__container--intro

  &__container--intro {}

  // .landing-blog__head

  &__head {
    position: relative;
    min-height: toRem(213);

    background-color: #fff;
    border-radius: toRem(20);

    @media (max-width:$mobile) {
      min-height: toRem(160);
    }

    img {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;

      @media (max-width:$mobile) {
        display: none;
      }
    }
  }

  // .landing-blog__head--right

  &__head--right {
    position: relative;
    z-index: 50;

    @include adaptiveValue("padding-top", 50, 40);
    @include adaptiveValue("padding-bottom", 50, 40);

  }

  // .landing-blog__title

  &__title {
    margin-bottom: toRem(15);

    font-family: $secondFamily;
    @include adaptiveValue("font-size", 64, 24);
  }


  // .landing-blog__subtitle

  &__subtitle {
    line-height: normal;
    @include adaptiveValue("font-size", 20, 16);
  }

  // .landing-blog__container

  &__container {}

  // .landing-blog__wrapper

  &__wrapper {
    @include adaptiveValue("padding-top", 70, 40);
  }

  // .landing-blog__title-h2
  &__title-h2 {
    margin-bottom: toRem(10);

    @include adaptiveValue("font-size", 40, 20);

    @media (max-width:$mobile) {
      margin-bottom: toRem(20);
    }
  }

  // .landing-blog__link-all

  &__link-all {
    display: flex;
    align-items: center;
    gap: toRem(15);

    @media (min-width:$mobile) {
      margin-bottom: toRem(30);
    }

    @media (max-width:$mobile) {
      display: none;
    }

    &--mob {
      display: none;

      @media (max-width:$mobile) {
        display: flex;
        margin-top: toRem(20);
      }
    }
  }
}


.landing-blog-section {
  @include adaptiveValue("margin-bottom", 70, 50);
}



.landing-blog-health {

  // .landing-blog-health__slider

  &__slider {}
}


.landing-blog-slider {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    // width: 30%;
    height: 100%;
    right: 0;
    z-index: 20;
    pointer-events: none;

    background: linear-gradient(270deg, #f3f3f5 0%, rgba(243, 243, 245, 0) 100%);
    @include adaptiveValue("width", 387, 90);
  }

  .landing-callback & {
    &::before {
      content: '';
      background: linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
    }
  }

  .swiper-button-next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);

    z-index: 50;


    @include adaptiveValue("width", 40, 36);
    @include adaptiveValue("height", 40, 36);

    svg path {
      transition: all 0.3s;
    }

    &:hover {
      svg path {
        fill: #fff;
        stroke: $pinkColor;
      }
    }
  }

  // .landing-blog-slider__wrapper

  &__wrapper {}

  // .landing-blog-slider__slide

  &__slide {
    cursor: pointer;
  }

  // .landing-blog-slider__item

  &__item {
    background-color: #fff;
    position: relative;
    background: rgba(255, 255, 255, 0.5);

    border-radius: toRem(20);
    overflow: hidden;
    border: 2px solid #fff;

    .landing-callback & {
      border: 2px solid var(--grey);

    }
  }

  // .landing-blog-slider__media

  &__media {
    border-radius: toRem(20);
    overflow: hidden;


    @media (min-width:$mobile) {
      height: 200px;
    }

    @media (max-width:$mobile) {
      aspect-ratio: 240 / 190;
    }

  }

  // .landing-blog-slider__link

  &__link {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 60;

    .block & {
      pointer-events: none
    }
  }

  // .landing-blog-slider__image

  &__image {
    // position: absolute;
    // inset: 0;
    width: 100%;
    height: 100%;
    border-radius: toRem(20);
    object-fit: cover;
    max-width: 100%;
  }

  // .landing-blog-slider__info

  &__info {
    padding: toRem(20);

    // border-radius: 0 0 toRem(20);
    // background-color: #fff;

    @media (max-width:$tablet) {
      padding: toRem(15);
    }

  }

  // .landing-blog-slider__name

  &__name {
    margin-bottom: toRem(5);

    line-height: normal;
    font-weight: 600;
    @include adaptiveValue("font-size", 20, 16);
  }

  // .landing-blog-slider__decsr

  &__decsr {
    line-height: normal;
    @include adaptiveValue("font-size", 14, 12);
  }
}

.reviews {
  position: relative;
  @include adaptiveValue("padding-top", 70, 40);
  @include adaptiveValue("padding-bottom", 70, 50);

  &__title {
    @include adaptiveValue("margin-bottom", 40, 30);
  }

  &__body {
    position: relative;

    .reviews__slider-btns {
      @media (max-width: toEm(1300)) {
        display: flex;
        gap: toRem(15);
        margin-top: toRem(20);
        justify-content: center;
      }
    }

    .swiper-button-next {

      @media (min-width:toEm(1300)) {
        position: absolute;
        right: toRem(-45);
        top: 50%;
        transform: translate(0, -50%);

        z-index: 50;
      }




      @include adaptiveValue("width", 40, 36);
      @include adaptiveValue("height", 40, 36);



      svg path {
        transition: all 0.3s;
      }

      &:hover {
        svg path {
          fill: #fff;
          stroke: $pinkColor;
        }
      }
    }

    .swiper-button-prev {
      @media (min-width:toEm(1300)) {
        position: absolute;
        left: -45px;
        top: 50%;
        transform: translate(0, -50%);

        z-index: 50;
      }

      @include adaptiveValue("width", 40, 36);
      @include adaptiveValue("height", 40, 36);

      svg path {
        transition: all 0.3s;
      }

      &:hover {
        svg path {
          fill: #fff;
          stroke: $pinkColor;
        }
      }
    }
  }
}

.reviews__slider {
  position: relative;
  z-index: 50;
  // height: 200px;

}

.slide-reviews {
  padding: toRem(20);

  border: 2px solid var(--grey);
  border-radius: 10px;

  backdrop-filter: blur(7px);
  background: rgba(255, 255, 255, 0.5);


  &__top {
    display: flex;
    align-items: center;
    gap: toRem(15);
    margin-bottom: toRem(15);
  }

  &__name {
    font-size: 20px;
    font-weight: 600;
  }

  &__content {
    margin-bottom: toRem(20);

    line-height: normal;
    @include adaptiveValue("font-size", 16, 12);
  }
}


.new-decor {
  position: absolute;
  top: 42%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 5;
}

.landing-tariffs section {
  background-color: $grayColor !important;
}

.landing-tariffs .tariffs__items {
  justify-content: center;
}


.faq {
  .spollers {
    max-width: toRem(800);
    margin: 0 auto;
    margin-bottom: toRem(70);
  }

  .spollers__item {
    border: 2px solid var(--grey);
  }

  .spollers__body {
    padding: 0 toRem(50) toRem(20) toRem(40);

    background-color: #fff;

    font-size: toRem(16);


    @media (max-width:$mobile) {
      padding: toRem(0) toRem(20) toRem(10);

      font-size: toRem(14);
    }
  }

  .spollers__title {
    padding: toRem(20) toRem(40);
    min-height: toRem(67);
    height: auto;

    background-color: #fff;
    line-height: normal;

    font-size: toRem(20);
    font-weight: 600;

    @media (max-width:$mobile) {
      font-size: toRem(16);
      padding: toRem(10) toRem(30) toRem(10) toRem(20);
    }
  }

  /* .faq__container */
  &__container {}

  /* .faq__title */
  &__title {
    margin-bottom: toRem(40);

    text-align: center;

    @media (max-width:$mobile) {
      margin-bottom: toRem(30);
    }
  }
}

.callback-ask {

  @include adaptiveValue("padding-bottom", 110, 60);

  /* .callback-ask__container--intro */
  &__container--intro {}

  /* .callback-ask__wrapper */
  &__wrapper {
    padding: toRem(30);

    background-color: #fff2f8;
    border-radius: toRem(20);

    @media (max-width:$mobile) {
      margin-left: -10px;
      margin-right: -10px;
    }
  }

  /* .callback-ask__container */
  &__container {
    min-height: toRem(184);
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: toRem(20);

    @media (max-width:$mobile) {
      flex-direction: column;
      justify-content: center;


      text-align: center;
    }
  }

  /* .callback-ask__content */
  &__content {}

  /* .callback-ask__h2 */
  &__h2 {
    margin-bottom: toRem(10);
  }

  /* .callback-ask__subtitle */
  &__subtitle {
    @include adaptiveValue("font-size", 20, 16);

    @media (max-width:$mobile) {
      margin-bottom: toRem(30);
    }
  }

  /* .callback-ask__points */
  &__points {
    display: flex;
    align-items: center;

    @include adaptiveValue("gap", 30, 15);
  }

  /* .callback-ask__point */
  &__point {
    display: flex;
    justify-content: center;
    align-items: center;



    border-radius: toRem(15);
    background-color: #fff;

    @include adaptiveValue("width", 80, 50);
    @include adaptiveValue("height", 80, 50);

    svg {
      @media (max-width:$mobile) {
        width: 60%;
      }
    }

  }
}

.page.landing-callback {
  background-color: #fff;
}

.landing-callback {
  &__title {
    margin-bottom: toRem(50);

    font-family: $secondFamily;
    @include adaptiveValue("font-size", 64, 36);

    @media (max-width:$mobile) {
      margin-bottom: toRem(40);
    }

  }
}

.ask-exp-popup {

  .popup__wrapper {
    padding-right: toRem(10);
    padding-left: toRem(10);
  }

  .popup__content {
    max-width: toRem(760);
    border: 2px solid var(--pink);
  }

  &__title {
    font-family: $secondFamily;
    font-weight: 400;
    @include adaptiveValue("font-size", 24, 16);
  }

  &__button {
    width: toRem(158);
    margin: 0 auto;
    height: 40px;

    font-size: toRem(16);

    @media (max-width:$mobile) {
      width: 100%;
    }
  }
}