.main-screen {

  // margin-top: toRem(20);
  // padding-top: 190px;



  // @include adaptiveValue("padding-bottom", 70, 30);
  // padding-bottom: 340px;

  &__container--intro {
    border-radius: 20px;
    background-color: #fff;
    padding-top: 190px;
  }

  /* .main-screen__container */
  &__container {
    position: relative;
  }

  /* .main-screen__box */
  &__box {
    display: grid;
    grid-template-columns: 41% auto;

    @media (max-width:$mobile) {
      grid-template-columns: auto;
      justify-items: center;
      gap: 30px;

      text-align: center;
    }
  }

  /* .main-screen__content */
  &__content {}

  /* .main-screen__tip */
  &__tip {
    display: flex;
    align-items: center;
    gap: 22px;
    max-width: toRem(315);

    border: 1px solid var(--light-pink);
    border-radius: 5px;
    padding: 7px 15px;

    white-space: nowrap;
    @include adaptiveValue("margin-bottom", 114, 10);


    @media (max-width:$mobile) {
      margin-left: auto;
      margin-right: auto;
    }

    svg {
      @media (max-width:$mobile) {
        flex: 0 0 17px
      }
    }


    span {
      opacity: 0.85;

      font-weight: 500;
      @include adaptiveValue("font-size", 16, 12);
    }
  }

  /* .main-screen__title */
  &__title {
    margin-bottom: 6px;
    margin-left: -8px;

    font-family: $secondFamily;
    @include adaptiveValue("font-size", 128, 86);
  }

  /* .main-screen__subtitle */
  &__subtitle {
    // max-width: toRem(485);

    font-weight: 500;
    line-height: normal;
    @include adaptiveValue("font-size", 20, 16);
  }

  /* .main-screen__media */
  &__media {
    // position: relative;
    // bottom: 0;
    // max-width: 100%;

    // background: url('@img/main-screen/intro.png') 0 0 no-repeat;

    @media (max-width:$mobile) {
      width: 80%;
    }

    @media (max-width: toEm(440)) {
      width: auto;
      margin-right: -21px;
      margin-left: -21px;
      // margin-right: -43px;
      // margin-left: -43px;
    }

    img {
      // position: absolute;
      // right: 0;
      // bottom: 0;

      @media (max-width: toEm(440)) {
        height: 430px;
      }

      @media (min-width:$mobile) {
        margin-left: 58px;
      }

      // aspect-ratio: 687 / 680;
    }
  }

  /* .main-screen__items */
  &__items {
    display: flex;
    gap: 20px;
    position: absolute;
    // bottom: 58px;



    overflow-x: auto;
    // position: relative;
    scrollbar-width: none;

    @include adaptiveValue("bottom", 58, 14);


    // @include adaptiveValue("margin-top", -197, 30);
  }

  /* .main-screen__item */
  &__item {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;

    // backdrop-filter: blur(13px);
    // background: var(--light-green);
    background: var(--bright-green);

    @include adaptiveValue("padding-top", 25, 15);
    @include adaptiveValue("padding-right", 25, 15);
    @include adaptiveValue("padding-bottom", 25, 15);
    @include adaptiveValue("padding-left", 25, 15);

    @include adaptiveValue("width", 224, 124);
    @include adaptiveValue("height", 139, 124);

  }

  /* .main-screen__img */
  &__img {
    position: absolute;
    z-index: 5;
    // mix-blend-mode: hue;
    right: 0px;
    bottom: 0px;

    img {
      @include adaptiveValue("width", 154, 103);
    }
  }
}

.item-main-screen {

  /* .item-main-screen__title */
  &__title {
    position: relative;
    z-index: 10;

    font-weight: 500;
    @include adaptiveValue("font-size", 16, 14);
  }
}