.meditation-section {
  background: #fff;

  &__title {
    margin-bottom: toRem(10);

    text-align: center;
  }

  &__subtitle {
    margin-bottom: toRem(50);

    text-align: center;

    @media (max-width:$mobile) {
      margin-bottom: toRem(60);
    }
  }

  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: 100%;
    min-height: 548px;

    // text-align: center;

    @media (max-width: toEm(950)) {
      gap: 35px;
      min-height: toRem(445);
    }


  }

  &__image-main {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 100%;

    @include adaptiveValue("width", 548, 443);
  }

  &__row {
    display: flex;
    justify-content: center;

    @media (max-width: toEm(950)) {
      flex-direction: column;
      justify-content: flex-end;
    }

    &--top {
      margin-top: toRem(20);

    }

    &--bottom {
      margin-bottom: toRem(20);
    }

    &--bottom,
    &--top {
      gap: 224px;

      @media (max-width: toEm(950)) {
        gap: 35px;
      }
    }

    &--center {
      gap: 326px;

      @media (max-width: toEm(950)) {
        gap: 35px;
      }
    }
  }

  &__tip {
    position: relative;
    padding: toRem(20) toRem(10) toRem(20) toRem(50);

    backdrop-filter: blur(13px);
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid var(--grey);
    border-radius: 10px;

    line-height: normal;
    @include adaptiveValue("font-size", 16, 12);

    @media (max-width: toEm(950)) {
      padding: toRem(15) toRem(10) toRem(15) toRem(40);
    }

    &::before {
      content: '';
      position: absolute;
      background: url('@img/check.svg') 0 0 no-repeat;
      width: 100%;
      height: 100%;
      left: 20px;

      @media (max-width: toEm(950)){
         left: 10px; 
      }
    }
  }


}