.meditation-section {
  background: #fff;

  &__title {
    margin-bottom: toRem(10);

    text-align: center;
  }

  &__subtitle {
    margin-bottom: toRem(50);

    text-align: center;

    @media (max-width:$mobile) {
      margin-bottom: toRem(60);
    }
  }

  &__body {
    position: relative;
    min-height: 548px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;


    @media (max-width: toEm(950)) {
      grid-template-columns: auto;
      grid-template-rows: repeat(6, 1fr);
      justify-content: end;

      gap: 35px;
      min-height: toRem(445);
    }


  }

  &__image-main {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 100%;

    @include adaptiveValue("width", 548, 443);
  }

  &__row {
    display: flex;
    justify-content: center;

    @media (max-width: toEm(950)) {
      flex-direction: column;
      justify-content: flex-end;
    }

    &--top {
      margin-top: toRem(20);

    }

    &--bottom {
      margin-bottom: toRem(20);
    }

    &--bottom,
    &--top {
      gap: 224px;

      @media (max-width: toEm(950)) {
        gap: 35px;
      }
    }

    &--center {
      gap: 326px;

      @media (max-width: toEm(950)) {
        gap: 35px;
      }
    }
  }

  &__tip {
    position: relative;
    padding: toRem(20) toRem(10) toRem(20) toRem(50);
    align-self: center;
    justify-self: center;
    backdrop-filter: blur(13px);
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid var(--grey);
    border-radius: 10px;

    line-height: normal;
    @include adaptiveValue("font-size", 16, 12);

    @media (max-width: toEm(950)) {
      padding: toRem(15) toRem(10) toRem(15) toRem(40);
    }

    &::before {
      content: '';
      position: absolute;
      background: url('@img/check.svg') 0 0 no-repeat;
      width: 100%;
      height: 100%;
      left: 20px;

      @media (max-width: toEm(950)) {
        left: 10px;
      }
    }

    &--3 {

      @media (min-width:toEm(950)) {
        margin-right: 150px;
      }

      @media (max-width: toEm(950)){
         grid-row: 6; 
      }
    }

    &--4 {
      @media (min-width:toEm(950)) {
        margin-left: 150px;
      }

      @media (max-width: toEm(950)) {
        grid-row: 1;
        justify-self: end;

        margin-right: 150px;
      }

    }
  }


}