.meditation-section {
  background: #fff;

  &__title {
    margin-bottom: toRem(10);

    text-align: center;
  }

  &__subtitle {
    margin-bottom: toRem(50);

    text-align: center;

    @media (max-width:$mobile) {
      margin-bottom: toRem(60);
    }
  }

  &__body {
    position: relative;
    min-height: 548px;

    margin-bottom: toRem(50);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;

    @media (max-width: toEm(950)) {
      grid-template-columns: auto;
      grid-template-rows: repeat(6, 1fr);
      justify-items: end;
      gap: 35px;
      min-height: toRem(445);
    }

    @media (max-width:$mobileSmall) {
      gap: 0;
    }
  }

  &__image-main {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    @include adaptiveValue("width", 548, 443);

    @media (max-width: toEm(950)) {
      left: 45%;
    }

    @media (max-width: toEm(700)) {
      left: 33%;
    }

    @media (max-width:$mobileSmall) {
      left: 9%;
    }
  }

  &__row {
    display: flex;
    justify-content: center;

    @media (max-width: toEm(950)) {
      flex-direction: column;
      justify-content: flex-end;
    }

    &--top {
      margin-top: toRem(20);

    }

    &--bottom {
      margin-bottom: toRem(20);
    }

    &--bottom,
    &--top {
      gap: 224px;

      @media (max-width: toEm(950)) {
        gap: 35px;
      }
    }

    &--center {
      gap: 326px;

      @media (max-width: toEm(950)) {
        gap: 35px;
      }
    }
  }

  &__tip {
    position: relative;
    padding: toRem(20) toRem(10) toRem(20) toRem(50);
    backdrop-filter: blur(13px);
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid var(--grey);
    border-radius: 10px;

    line-height: normal;
    @include adaptiveValue("font-size", 16, 12);

    @media (max-width: toEm(950)) {
      padding: toRem(15) toRem(10) toRem(15) toRem(40);
    }

    &::before {
      content: '';
      position: absolute;
      background: url('@img/check.svg') 0 0 no-repeat;
      width: 100%;
      height: 100%;
      left: 20px;

      @media (max-width: toEm(950)) {
        left: 10px;
      }
    }

    &--3 {

      @media (min-width:toEm(950)) {
        margin-right: 150px;
      }

      @media (max-width: toEm(950)) {
        grid-row: 6;
      }
    }

    &--4 {
      @media (min-width:toEm(950)) {
        margin-left: 150px;
      }

      @media (max-width: toEm(950)) {
        grid-row: 1;
      }

    }

    &--5 {
      @media (max-width: toEm(950)) {
        grid-row: 5;
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: auto auto auto;
    // display: flex;
    // width: 100%;

    overflow-x: auto;
    scrollbar-width: none;

    @include adaptiveValue("gap", 70, 20);

    @media (min-width:$tablet) {
      justify-content: center;
    }

    @media (max-width:$tablet) {
      gap: toRem(20);
    }

    @media (max-width: toEm(919)) {
      margin-right: -10px;
    }
  }

  &__item {
    min-width: toRem(285);

    border: 2px solid var(--grey);
    border-radius: 10px;
    backdrop-filter: blur(13px);
    background: rgba(255, 255, 255, 0.5);

    @media (max-width:$tablet) {
      min-width: toRem(220);
    }
  }

}


.audio-player {
  padding: toRem(20);

  text-align: center;
}