.meditation-articles {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: toRem(20);

  @media (max-width: toEm(1100)) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width:$mobile) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: toEm(550)) {
    grid-template-columns: auto;
    justify-content: center;
  }

  ._profile & {
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: toEm(1150)) {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }

    @media (max-width:$mobileSmall) {
      grid-template-columns: 1fr;
    }

  }

  /* .meditation-articles__item */
  &__item {

    ._profile & {

      @media (max-width: toEm(1150)) {
        max-width: toRem(300);
      }

    }


  }

  /* .meditation-articles__media-box */
  &__media-box {}

  .additional-content {
    background: none;
    padding: 0;

    h3 {
      margin-bottom: toRem(10);
    }

    h4 {
      margin-bottom: toRem(20);

      font-size: toRem(14);

      @media (max-width:$mobile) {
        margin-bottom: toRem(15);
      }
    }
  }

  .play-pause-btn {
    margin-bottom: toRem(20);
  }
}

.meditation-section {

  /* .meditation-section__item */
  &__item {
    border-radius: toRem(20);
  }
}

.meditation {

  /* .meditation__media-photo */
  &__media-photo {
    max-width: 100%;
    width: 100%;
  }
}