.premium-banner {
    background-color: #fff;
}

.premium-banner__container {}

.premium-banner__box {
    display: grid;
    grid-template-columns: auto 1fr;
    // position: relative;
    border-radius: toRem(20);
    background-color: $grayColor;
    overflow: hidden;

    @include adaptiveValue("padding-top", 50, 20);
    @include adaptiveValue("padding-right", 50, 20);
    @include adaptiveValue("padding-bottom", 50, 20);
    @include adaptiveValue("padding-left", 50, 20);

    @media (min-width:$mobile) {
        // padding-right: 384px;
    }

    @media (max-width:$mobile) {
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;

    }
}

.premium-banner__content {
    @media (min-width:$mobile) {
        padding-right: 310px;
    }
}

.premium-banner__title {
    margin-bottom: 10px;
    max-width: 680px;

    font-family: $secondFamily;
    line-height: normal;


    @include adaptiveValue("font-size", 36, 24);
}

.premium-banner__subtitle {
    margin-bottom: 35px;

    line-height: normal;
    @include adaptiveValue("font-size", 20, 16);
}

.premium-banner__button {}

.premium-banner__media {
    position: relative;

    @media (max-width: toEm(480)) {
        height: 70%;
    }
}

.premium-banner__img {
    position: absolute;
    right: -116px;
    bottom: -53px;
    // max-width: 100%;

    @include adaptiveValue("width", 548, 320);

    @media (max-width:$mobile) {
        right: auto;
        left: 60%;
        transform: translate(-50%, 0);
    }

    @media (max-width: toEm(480)) {
        left: 50%;
        bottom: -90px;
    }
}