.profile {

  /* .profile__content */
  &__content {}
}

.profile-settings {

  /* .profile-settings__content */
  &__content {}

  /* .profile-settings__form */
  &__form {}
}

.form {

  /* .form__line */
  &__line {
    display: flex;
    justify-content: space-between;

    @include adaptiveValue("gap", 20, 15);

    /* .form__line--data */
    &--data {
      margin-bottom: toRem(50);

      @media (max-width: toEm(540)) {
        flex-wrap: wrap;
      }

      .input {
        width: 150px;
      }
    }

    &--email {
      margin-bottom: toRem(30);
      align-items: flex-end;

      @media (max-width: toEm(880)) {
        flex-wrap: wrap;
      }

      .form__column {
        // flex: 0 0 357px;
        width: 100%;
      }
    }

    &--passw {
      align-items: flex-end;

      @media (max-width: toEm(880)) {
        flex-wrap: wrap;
      }

      .form__column {
        width: 100%;
      }
    }
  }

  &__data {
    display: flex;
    flex-wrap: wrap;
    @include adaptiveValue("gap", 20, 15);


    @media (max-width: toEm(540)) {
      width: 50%;
      order: -1;
    }
  }

  &__viewpass {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0px, -50%);
  }


  &__column--data {
    @media (max-width: toEm(540)) {
      width: 40%;
    }
  }

  /* .form__column */
  &__column {
    position: relative;

    &--save-btn {

      @media (max-width: toEm(540)) {
        width: 100%;
      }
    }
  }

  /* .form__button */
  &__button {
    height: 40px;
    margin-top: 20px;

    font-size: 15px;
  }

  /* .form__line--email */
  &__line--email {}

  /* .form__line--passw */
  &__line--passw {}
}

.add-photo {

  /* .add-post__file */
  &__file {
    margin-right: 10px;
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    opacity: 1 !important;

    background: url(@img/profile/profile-personal.jpg) center no-repeat;

    &::before {
      content: "";
      position: absolute;
      background: url(@img/upload.svg) center no-repeat;
      width: 100%;
      height: 100%;
    }

    input {
      display: none;
    }
  }




}



.input {
  &--email {
    // max-width: toRem(357) !important;
    flex: 0 0 357px !important;
  }
}

.button {}

.button-form-confirm {
  height: 40px;

  background-color: $grayColor;

  font-size: toRem(15);

  @media (max-width:$mobile) {
    font-size: toRem(14);
  }
}

.input-passw {}

.input-passw-confirm {}