.profile {

  /* .profile__container */
  &__container {}

  /* .profile__body */
  &__body {}

  /* .profile__content */
  &__content {}

  &__top {
    // display: flex;
    // width: 100%;
    // overflow: hidden;
    padding-bottom: 10px;
    margin-bottom: toRem(20);

    border-bottom: 2px solid var(--grey);
    overflow-x: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

  }

  /* .profile__header */
  &__header {
    // white-space: nowrap;
    // max-width: toRem(570);

    display: flex;
    justify-content: space-between;


    gap: toRem(6);




    // @include adaptiveValue("gap", 30, 6);



    @media (max-width: toEm(1025)) {
      flex-wrap: wrap;
    }

    @media (max-width: toEm(600)) {
      flex-wrap: nowrap;
      // white-space: nowrap;

      @include adaptiveValue("width", 570, 300);

    }

    li {
      padding: 10px 20px;
      border-radius: 5px;
      // min-width: toRem(123);
      // min-width: 0;


      &.active {
        background: var(--light-pink);
      }

      @media (max-width:$mobile) {
        padding: 7px 15px;
      }
    }
  }

  /* .profile__item-header */
  &__item-header {
    display: flex;
    align-items: center;
    gap: toRem(15);
  }
}

.profile-favorite {

  /* .profile-favorite__content */
  &__content {
    padding: toRem(10);
  }

  /* .profile-favorite__training */
  &__training {}
}

.sidebar {

  /* .sidebar__menu */
  &__menu {}

  /* .sidebar__item */
  &__item {}

  /* .sidebar__link */
  &__link {}
}

.active {}


._profile {
  .training-articles {

    @media (max-width: toEm(1030)) {
      grid-template-columns: auto auto;
    }

    @media (max-width: toEm(600)) {
      grid-template-columns: 1fr;
    }

    /* .training-articles__item */
    &__item {
      @media (max-width: toEm(600)) {
        margin: 0 auto;
        max-width: toRem(300);
      }
    }

    /* .training-articles__media */
    &__media {
      border-radius: toRem(10) toRem(10) 0 0;
    }

    /* .training-articles__link */
    &__link {}

    /* .training-articles__image */
    &__image {}

    /* .training-articles__body */
    &__body {
      padding: toRem(15);
    }

    /* .training-articles__title */
    &__title {
      font-size: 20px;

    }

    /* .training-articles__decsr */
    &__decsr {
      font-size: 14px;
    }
  }

}