.profile {

  /* .profile__content */
  &__content {}
}

.profile-settings {

  /* .profile-settings__content */
  &__content {}

  /* .profile-settings__form */
  &__form {}
}

.form {

  /* .form__line */
  &__line {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  /* .form__line--data */
  &__line--data {
    .input {
      width: 150px;
    }

  }

  &__column--data {}

  /* .form__column */
  &__column {}

  /* .form__button */
  &__button {
    height: 40px;
    margin-top: 20px;

    font-size: 15px;
  }

  /* .form__line--email */
  &__line--email {}

  /* .form__line--passw */
  &__line--passw {}
}

.add-photo {

  /* .add-post__file */
  &__file {
    margin-right: 10px;
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    opacity: 1;

    background: url(@img/profile/profile-personal.jpg) center no-repeat;

    &::before {
      content: "";
      position: absolute;
      background: url(@img/upload.svg) center no-repeat;
      width: 100%;
      height: 100%;
    }

    input {
      display: none;
    }
  }




}



.input {}

.button {}

.button-form-confirm {}

.input-passw {}

.input-passw-confirm {}