.profile {
  @media (max-width:$mobile) {
    justify-items: center;
  }

  &__body {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: toRem(10);

    @media (max-width:$mobile) {
      grid-template-columns: auto;
    }
  }

  // .profile__content
  &__content {
    padding: toRem(30);

    border-radius: toRem(10);
    background-color: #fff;

    @media (max-width:$mobile) {
      padding: toRem(20);
    }

    @media (max-width: toEm(500)) {
      margin-left: -10px;
      margin-right: -10px;
    }
  }
}

.profile-personal {
  // .profile-personal__card

  &__card {
    display: flex;

    border-bottom: 2px solid $grayColor;

    @include adaptiveValue("gap", 30, 10);
    @include adaptiveValue("padding-bottom", 30, 20);
  }

  // .profile-personal__photo

  &__photo {
    max-width: 100%;
  }

  // .profile-personal__contacts-box

  &__contacts-box {
    display: flex;
    flex-direction: column;

    @media (max-width: toEm(888)) {
      gap: toRem(38);
    }
  }

  // .profile-personal__name

  &__name {
    display: flex;
    gap: toRem(10);
    margin-bottom: auto;

    font-weight: 600;
    @include adaptiveValue("font-size", 24, 16);

    @media (max-width:$mobileSmall) {
      flex-direction: column;
    }
  }

  // .profile-personal__contacts

  &__contacts {

    display: flex;
    @include adaptiveValue("gap", 40, 10);

    @media (max-width: toEm(888)) {
      flex-direction: column;
    }
  }

  // .profile-personal__contact

  &__contact {
    display: grid;
    gap: toRem(4);
  }

  // .profile-personal__sub-name

  &__sub-name {
    font-size: toRem(14);
    opacity: 0.5;

    @media (max-width:$mobile) {
      font-size: toRem(12);
    }
  }

  // .profile-personal__value

  &__value {
    white-space: nowrap;
  }

  // .profile-personal__action

  &__action {
    margin-left: auto;
    align-self: flex-start;

    a {
      display: flex;
      gap: toRem(10);
      align-items: center;

      font-size: 15px;

      @media (max-width: toEm(1020)) {
        span {
          display: none;
        }
      }
    }
  }
}


.sidebar {

  // .sidebar__body

  &__body {}

  // .sidebar__menu

  &__menu {
    height: 100%;
    display: flex;
    padding: toRem(10);
    border-radius: 10px;
    background-color: #fff;
    flex-wrap: wrap;

    @include adaptiveValue("gap", 15, 10);



    @media (min-width:$mobile) {
      min-height: toRem(720);
      flex-direction: column;
      width: 200px;
    }

    @media (min-width:toEm(1220)) {
      width: toRem(285);
    }


    @media (min-width: toEm(1080)) {
      // width: toRem(200);
    }

    @media (max-width: toEm(500)) {
      padding: 0;
      background: none;
      justify-content: center;
    }

  }

  // .sidebar__item

  &__item {
    display: flex;
    padding-left: toRem(25);

    border-radius: 5px;

    @include adaptiveValue("height", 50, 40);

    &.active {
      background: var(--light-pink);
    }

    &:nth-child(2) {
      padding-left: toRem(20);

      // @media (max-width: toEm(500)) {
      //   padding-left: 30px;
      // }
    }

    &:last-child {
      margin-top: auto;
    }

    @media (max-width:$mobile) {
      padding-left: toRem(10) !important;
      width: toRem(145);
    }

    @media (max-width: toEm(500)) {
      background-color: #fff;
    }
  }

  // .sidebar__link

  &__link {
    display: flex;
    align-items: center;
    gap: toRem(15);
    @include adaptiveValue("font-size", 16, 14);
  }

  // .sidebar__settings

  &__settings {}
}

.banner-profile {
  display: flex;
  gap: toRem(20);
  justify-content: space-between;

  @media (max-width:$tablet) {
    flex-direction: column;
    gap: toRem(10);
    align-items: center;
  }

  @media (max-width:$mobile) {
    gap: toRem(10);
  }

  // .banner-profile__left-side

  &__left-side {
    min-height: toRem(140);
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: toRem(20);
    gap: toRem(10);

    background-color: $grayColor;
    border-radius: toRem(5);

    @media (max-width:$tablet) {
      max-width: toRem(470);
    }

    @media (max-width: toEm(400)) {
      flex-direction: column;
      align-items: flex-start;
    }

    &-box {
      display: grid;
      gap: toRem(8);
    }
  }

  &__image {
    position: absolute;
    right: 0;
    top: 0;

    z-index: 10;

    @media (max-width: toEm(400)) {
      right: -33px;
    }
  }

  // .banner-profile__subtitle

  &__subtitle {
    line-height: normal;
    font-size: 14px;
  }

  // .banner-profile__title

  &__title {
    margin-bottom: toRem(12);

    font-weight: 600;
    @include adaptiveValue("font-size", 32, 20);
  }

  &__button {
    position: relative;
    z-index: 20;
    white-space: nowrap;
    font-size: 16px;

    @media (max-width: toEm(400)) {
      width: 100%;
    }
  }

  &__friend {
    margin-bottom: auto;
    font-weight: 600;
    @include adaptiveValue("font-size", 24, 20);
  }

  // .banner-profile__right-side

  &__right-side {
    display: flex;
    flex-direction: column;
    padding: toRem(20);
    max-width: toRem(357);

    border-radius: toRem(10);
    background-color: $grayColor;

    @media (min-width:toEm(1164)) {
      width: 100%;
    }

    @media (max-width:$tablet) {
      min-height: toRem(127);
      width: toRem(280);
    }
  }
}