._profile {


  .rec-articles {

    grid-template-columns: repeat(3, 1fr);

    @media (max-width:$tablet) {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }

    @media (max-width: toEm(560)) {
      grid-template-columns: 1fr;
    }



    // .rec-articles__item

    &__item {
      @media (max-width:$mobile){
         max-width: toRem(300); 
      }
    }

    // .rec-articles__media

    &__media {
      overflow: hidden;
      border-radius: toRem(10) toRem(10) 0 0;
    }

    // .rec-articles__top

    &__top {}

    // .rec-articles__about

    &__about {}

    // .rec-articles__type

    &__type {}

    // .rec-articles__title

    &__title {}

    // .rec-articles__descr

    &__descr {}

    // .rec-articles__link

    &__link {}
  }

  .slide-recipes {

    // .slide-recipes__top

    &__top {}

    // .slide-recipes__badge

    &__badge {}

    // .slide-recipes__badge--type

    &__badge--type {}

    // .slide-recipes__badge--time

    &__badge--time {}

    // .slide-recipes__photo

    &__photo {}

    // .slide-recipes__about

    &__about {}

    // .slide-recipes__descr

    &__descr {}

    // .slide-recipes__more-link

    &__more-link {}
  }

  .articles {

    // .articles__media

    &__media {}
  }

}