.profile {

  // padding-top: toRem(120);

  // .profile__body

  &__body {
    display: grid;
    grid-template-columns: auto 1fr;

    @include adaptiveValue("gap", 30, 20);
  }

  // .profile__content

  &__content {
    padding: toRem(30);

    border-radius: toRem(10);
    background-color: #fff;

    @media (max-width:$mobile) {
      padding: toRem(20);
    }
  }
}

.profile-personal {

  // .profile-personal__content

  &__content {
    // display: flex;
  }

  // .profile-personal__card

  &__card {
    display: flex;

    border-bottom: 2px solid $grayColor;

    @include adaptiveValue("gap", 30, 10);
    @include adaptiveValue("padding-bottom", 30, 20);
  }

  // .profile-personal__photo

  &__photo {}

  // .profile-personal__contacts-box

  &__contacts-box {
    display: flex;
    flex-direction: column;
  }

  // .profile-personal__name

  &__name {
    display: flex;
    gap: toRem(10);
    margin-bottom: auto;

    font-weight: 600;
    @include adaptiveValue("font-size", 24, 16);
  }

  // .profile-personal__first-name

  &__first-name {}

  // .profile-personal__last-name

  &__last-name {}

  // .profile-personal__contacts

  &__contacts {

    display: flex;

    @include adaptiveValue("gap", 40, 10);
  }

  // .profile-personal__contact

  &__contact {
    display: grid;
    gap: toRem(4);
  }

  // .profile-personal__sub-name

  &__sub-name {
    font-size: toRem(14);
    opacity: 0.5;

    @media (max-width:$mobile) {
      font-size: toRem(12);
    }
  }

  // .profile-personal__value

  &__value {}

  // .profile-personal__action

  &__action {
    margin-left: auto;
    align-self: flex-start;

    button {
      display: flex;
      gap: toRem(10);
      align-items: center;

      font-size: 15px;
    }
  }

  // .profile-personal__bottom

  &__bottom {}

  // .profile-personal__banner

  &__banner {}
}

.personal {

  // .personal__container

  &__container {}
}

.sidebar {



  // .sidebar__body

  &__body {}

  // .sidebar__menu

  &__menu {
    min-height: toRem(720);
    height: 100%;
    display: flex;
    flex-direction: column;
    // display: grid;
    // align-content: start;
    padding: toRem(10);
    width: toRem(285);

    border-radius: 10px;
    background-color: #fff;

    @include adaptiveValue("gap", 15, 10);

  }

  // .sidebar__item

  &__item {
    display: flex;
    padding-left: toRem(25);

    border-radius: 5px;

    @include adaptiveValue("height", 50, 40);

    &.active {
      background: var(--light-pink);
    }

    &:nth-child(2) {
      padding-left: toRem(20);
    }

    &:last-child {
      margin-top: auto;
      // align-self: baseline;
    }
  }

  // .sidebar__link

  &__link {
    display: flex;
    align-items: center;
    gap: toRem(15);
    @include adaptiveValue("font-size", 16, 14);
  }

  // .sidebar__settings

  &__settings {}
}

.active {}

.banner-profile {

  display: flex;
  gap: toRem(20);

  @media (max-width:$mobile) {
    gap: toRem(10);
  }

  // .banner-profile__left-side

  &__left-side {
    min-height: toRem(140);
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: toRem(20);
    gap: toRem(42);

    background-color: $grayColor;
    border-radius: toRem(5);

    &-box {
      display: grid;
      gap: toRem(8);
    }
  }

  &__image {
    position: absolute;
    right: 0;
  }
  // .banner-profile__subtitle

  &__subtitle {
    font-size: 14px;
  }

  // .banner-profile__title

  &__title {
    margin-bottom: toRem(12);

    font-weight: 600;
    @include adaptiveValue("font-size", 32, 20);
  }

  // .banner-profile__right-side

  &__right-side {}

  // .banner-profile__friend

  &__friend {}
}

.footer {

  // .footer__ref

  &__ref {}

  // .footer__link

  &__link {}
}