.rec-articles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: toRem(20);

  @media (max-width: toEm(1100)) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width:$mobile) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: toEm(550)) {
    grid-template-columns: auto;
    justify-content: center;
  }

  // .rec-articles__item

  &__item {
    transform: scale(1) !important;

    @media (max-width: toEm(550)) {
      max-width: toRem(300);
    }
  }

  // .rec-articles__media

  &__media {
    position: relative;
  }

  &__top {
    top: auto !important;
    bottom: 20px !important;

    @media (max-width:$mobile) {
      bottom: 15px !important;
    }
  }

  // .rec-articles__about

  &__about {
    padding-top: toRem(15);
  }

  // .rec-articles__type

  &__type {
    opacity: 0.5;
    font-size: toRem(14);

    @media (max-width:$mobile) {
      font-size: 12px;
    }
  }

  // .rec-articles__title

  &__title {
    margin-bottom: toRem(10);

    font-size: 20px;
    font-weight: 600;
    line-height: normal;
  }

  // .rec-articles__descr

  &__descr {
    font-size: toRem(14);
  }

  // .rec-articles__link

  &__link {
    display: flex !important;

    .block & {
      pointer-events: none;
      // visibility: hidden;
      // display: none !important;
    }
  }
}