.recipes-block {

  background: #fff;

  /* .recipes-block__container */
  &__container {}

  /* .recipes-block__title */
  &__title {}

  /* .recipes-block__wrapper */
  &__wrapper {
    display: grid;
    grid-template-columns: 74.6% auto;
    gap: toRem(20)
  }

  /* .recipes-block__slider */
  &__slider {}

  /* .recipes-block__slide */
  &__slide {}

  /* .recipes-block__column */
  &__column {
    display: grid;
  }

  /* .recipes-block__slogans */
  &__slogans {
    display: grid;
    align-content: start;
    gap: toRem(10);
  }

  /* .recipes-block__slogan */
  &__slogan {
    display: flex;
    gap: toRem(10);
    padding: toRem(20);

    border: 2px solid var(--grey);
    border-radius: 10px;

    p {
      line-height: normal;
    }

    svg {
      flex: 0 0 toRem(20);
    }
  }

  /* .recipes-block__button */
  &__button {
    margin-top: auto;

    white-space: nowrap;
  }
}

.title-h2 {}

.recipes-slider {
  padding: toRem(40) toRem(102);

  border-radius: 20px;

  background-color: $grayColor;
}

.swiper {}

.swiper-wrapper {}

.swiper-slide {}

.slide-recipes {

  /* .slide-recipes__top */
  &__top {}

  /* .slide-recipes__badge */
  &__badge {}

  /* .slide-recipes__badge--type */
  &__badge--type {}

  /* .slide-recipes__badge--time */
  &__badge--time {}

  /* .slide-recipes__photo */
  &__photo {}

  /* .slide-recipes__about */
  &__about {}

  /* .slide-recipes__name */
  &__name {}

  /* .slide-recipes__descr */
  &__descr {}

  /* .slide-recipes__more-link */
  &__more-link {}
}

.swiper-pagination {}

.recipes-block-btn {}

.swiper-button-prev {}

.swiper-button-next {}

.button {}