.recipes-block {
  background: #fff;

  /* .recipes-block__container */
  &__container {}

  /* .recipes-block__title */
  &__title {
    @include adaptiveValue("margin-bottom", 40, 30);
  }

  /* .recipes-block__wrapper */
  &__wrap {
    display: grid;
    grid-template-columns: 74.6% auto;

    gap: toRem(20);

    @media (max-width: toEm(1225)) {
      grid-template-columns: 73% auto;
      gap: toRem(10);
    }

    @media (max-width: toEm(1085)) {
      grid-template-columns: 70% auto;
      gap: toRem(10);
    }

    @media (max-width:$tablet) {
      grid-template-columns: 100%;
      // grid-template-rows: 1fr 1fr;
    }
  }

  /* .recipes-block__slider */
  &__slider {
    position: relative;
  }

  /* .recipes-block__slide */
  &__slide {}

  /* .recipes-block__column */
  &__column {
    display: grid;

    @media (max-width:$tablet) {
      grid-row: 1;
    }
  }

  /* .recipes-block__slogans */
  &__slogans {
    display: flex;
    flex-direction: column;
    gap: toRem(10);

    @media (max-width:$tablet) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  /* .recipes-block__slogan */
  &__slogan {
    display: flex;
    gap: toRem(10);
    padding: toRem(20);

    border: 2px solid var(--grey);
    border-radius: 10px;

    @media (max-width:$tablet) {
      padding: toRem(15);
    }

    @media (max-width: toEm(520)) {
      width: 100%;
    }

    p {
      line-height: normal;

      @media (max-width:$tablet) {
        font-size: toRem(14);
      }
    }

    svg {
      flex: 0 0 toRem(20);
    }
  }

  /* .recipes-block__button */
  &__button {
    white-space: nowrap;

    @media (min-width:$tablet) {
      margin-top: auto;
    }

    @media (max-width:$tablet) {
      margin-top: 30px;
      width: 100%;
    }
  }
}

.recipes-slider {

  position: relative;
  padding: toRem(40) toRem(55);
  padding-bottom: 20px;

  border-radius: 20px;

  background-color: $grayColor;


  @media (max-width: toEm(1225)) {
    padding-top: 30px;
    padding-left: toRem(20);
    padding-right: toRem(20);
  }

  @media (max-width: toEm(499)) {
    margin-right: -20px;
  }


  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 60px;
    background-color: $grayColor;
    top: 0;

    z-index: 1;
  }

  &::before {
    left: 42px;
  }

  &::after {
    right: 42px;
  }

  @media (max-width: toEm(1225)) {

    &::before,
    &::after {
      display: none;
    }
  }

  @media (max-width:$mobile) {
    padding-bottom: 0;
  }
}

.slide-recipes {
  position: relative;

  border: 2px solid #fff;
  border-radius: 10px;

  backdrop-filter: blur(13px);
  background: rgba(255, 255, 255, 0.5);

  transition: transform 0.3s ease-in;

  // flex: 0 0 255px;
  // width: toRem(255) !important;

  /* .slide-recipes__top */
  &__top {
    width: 100%;
    position: absolute;
    top: toRem(9);
    display: flex;
    justify-content: space-between;
    padding-left: toRem(18);
    padding-right: toRem(18);

    @media (max-width:$mobile) {
      padding-left: toRem(10);
      padding-right: toRem(10);
    }
  }

  /* .slide-recipes__badge */
  &__badge {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 16px;
    background-color: #fff;
  }

  /* .slide-recipes__badge--type */
  &__badge--type {
    padding: 5px 15px;
  }

  /* .slide-recipes__badge--time */
  &__badge--time {
    display: flex;
    gap: toRem(5);
    padding: 5px 15px 5px 7px;
  }

  /* .slide-recipes__photo */
  &__photo {
    width: 100%;
    max-width: 100%;
  }

  /* .slide-recipes__about */
  &__about {
    padding: toRem(20);
    padding-top: toRem(26);
  }

  /* .slide-recipes__name */
  &__name {
    margin-bottom: toRem(7);

    font-size: toRem(20);
    font-weight: 600;
  }

  /* .slide-recipes__descr */
  &__descr {
    margin-bottom: toRem(18);

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
  }

  /* .slide-recipes__more-link */
  &__more-link {
    display: flex;
    align-items: center;
    gap: toRem(10);
  }
}

.recipes-block-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translate(0px, -50%);

  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: $mainColor;

  z-index: 100;

  border: 1px solid $mainColor;

  transition: all 0.3s;

  @media (max-width: toEm(499)) {
    display: none;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: #fff;

      svg {
        path {
          stroke: $mainColor;
        }
      }
    }
  }

  &.swiper-button-prev {
    left: 40px;

    @media (max-width: toEm(1225)) {
      left: 10px;
    }

    @media (max-width:$mobile) {
      left: -10px;
    }
  }

  &.swiper-button-next {
    right: 40px;

    @media (max-width: toEm(1225)) {
      right: 10px;
    }

    @media (max-width:$mobile) {
      right: -10px;
    }
  }

}


@media (min-width:toEm(768)) {
  .slide-recipes:not(.swiper-slide-active) {
    transform: scale(.64);

    .slide-recipes__more-link {
      display: none;
    }
  }
}

.swiper-pagination {
  display: flex;
  gap: toRem(5);
  height: 10px;
  width: toRem(55);
}

.swiper-pagination-bullet {
  cursor: pointer;
  width: 10px;
  height: 10px;
  background-color: $mainColor;
  border-radius: 50px;
  opacity: .25;
  flex: 0 0 10px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.recipes-slider .swiper-pagination {
  margin: toRem(20) auto toRem(20);
}

.recipes-block-btn {}

.swiper-button-prev {}

.swiper-button-next {}


// .video-player {
//   width: 100%;
//   max-width: 285px;
//   margin: 20px auto;
//   border: 1px solid #ccc;
//   border-radius: 8px;
//   overflow: hidden;
//   // background: $grayColor;
// }


// .video-container {
//   position: relative;
//   width: 100%;
//   height: 0;
//   padding-bottom: 56.25%;
//   /* 16:9 */
//   background: #000;
//   /* фон на случай, если постер не загрузился */
//   overflow: hidden;
// }

// .video-element {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   display: block;
//   outline: none;
// }

// #video {
//   width: 100%;
//   display: block;
//   background: $grayColor;
// }

.player-controls {
  display: flex;
  align-items: center;
  gap: 15px;
  // padding: 10px;
}

#play-pause-btn {
  font-size: 24px;
  cursor: pointer;
  border: none;
  background: transparent;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
}

.progress-container {
  flex: 1;
}

#progress-bar {
  width: 100%;
  height: 6px;
  cursor: pointer;
}

.time-row {
  display: flex;
  justify-content: space-between;
  /* текущее слева, общее — справа */
  font-size: 12px;
  color: $mainColor;
  margin-top: 5px;
}

.additional-content {
  background-color: #fff;
}


.progress-track {
  position: relative;
  width: 100%;
  height: 4px;
  background: #f3f3f5;
  border-radius: 3px;
  cursor: pointer;
  overflow: visible;
  /* чтобы шарик не обрезался */
}

.progress-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: #ffaed1;
  border-radius: 3px;
  z-index: 1;
}

.progress-thumb {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  background: #ffaed1;
  border-radius: 50%;
  z-index: 2;
  /* pointer-events: none; <-- убираем это */
  pointer-events: auto;
  /* ✅ теперь шарик реагирует на клики */
}