// Подключение общих CSS-переменных
// :root {


//   //* Цвета
//   --black-color: #000;
//   --white-color: #fff;
//   --master-color: #116cf0;
//   --second-color: #c2d8f8;
//   --background-color: #f4f4f4;


//   //* Виды шрифта
//   --font-family: "Onest", sans-serif;
//   --second-family: "Inter", sans-serif;
// }


:root {

  //* Цвета
  --main-color: #282828;
  --second-color: #b9ff83;
  --select-color: #ffc3c1;
  --background-color: #fff;
  --title-color: #000;

  //* Виды шрифта
  --font-family: "Hikasami", sans-serif;
  --second-family: "NT Somic", sans-serif;
  --third-family: "Bounded", sans-serif;
}