:root {

	//* Цвета
	--black: #282828;
	--grey: #f3f3f5;
	--dark-grey: #b7b7b7;
	--white: #fff;
	--pink: #ffaed1;
	--light-pink: #ffd7e9;
	--bright-green: #b9ff83;
	--light-green: #d7fabc;

	//* Виды шрифта
	--font-family: "Hikasami", sans-serif;
	--second-family: "Unbounded", sans-serif;
}