// Подключение общих CSS-переменных
// :root {


//   //* Цвета
//   --black-color: #000;
//   --white-color: #fff;
//   --master-color: #116cf0;
//   --second-color: #c2d8f8;
//   --background-color: #f4f4f4;


//   //* Виды шрифта
//   --font-family: "Onest", sans-serif;
//   --second-family: "Inter", sans-serif;
// }


:root {

  //* Цвета
	--black: #282828;
	--grey: #f3f3f5;
	--white: #fff;
	--pink: #ffaed1;
	--light-pink: #ffd7e9;
	--bright-green: #b9ff83;
	--light-green: #d7fabc;

  //* Виды шрифта
  --font-family: "Hikasami", sans-serif;
  --second-family: "Unbounded", sans-serif;
}