// Подключение общих CSS-переменных
:root {


  //* Цвета
  --black-color: #000;
  --white-color: #fff;
  --master-color: #116cf0;
  --second-color: #c2d8f8;
  --background-color: #f4f4f4;


  //* Виды шрифта
  --font-family: "Onest", sans-serif;
  --second-family: "Inter", sans-serif;
}