@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";
@import "fonts/fonts";


// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройка шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: var(--font-family);
$secondFamily: var(--second-family);
$fontSize: toRem(16);

// Основные цвета
$mainColor: var(--black);
$grayColor: var(--grey);
$pinkColor: var(--pink);
$lightPinkColor: var(--light-pink);
$brightGreenColor: var(--bright-green);
$lightGreenColor: var(--light-green);
$whiteColor: #fff;


// Настройка адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1200;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 20;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer+$containerPadding;

// Брейк-поинты
$pc: toEm($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: toEm(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: toEm(767.98); // Телефоны L
$mobileSmall: toEm(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// // Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Подключение компонентов tailwind ============================================================================================================================================================================================== =============================================================================================== ===========================================================================
// @import "libs/tailwind";

// Фикс дерганья анимаций ========================================================================================================================================================

.load * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}


// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
	color: $mainColor;
	font-weight: 400;
	// background: $whiteColor;
	background: var(--grey);

	// &.lk {
	// 	background-color: #fff;
	// }

	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}

	// Сайт загружен
	// .loaded & {
	// 	opacity: 1;
	// 	transition: opacity 0.6s ease 0s;
	// }
}

// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;


	@supports (overflow: clip) {
		overflow: clip;
	}

	// Прижимаем footer
	>main {
		flex: 1 1 auto;
	}

	// Фикс для слайдеров
	>* {
		min-width: 0;
	}
}

.page {

	&:not(.main-page &) {
		@include adaptiveValue("padding-top", 140, 100);
	}

	&._profile {
		padding-top: toRem(100) !important;
		// @include adaptiveValue("padding-top", 120, 80);
	}

}

// Ограничивающий контейнер ======================================================================================================================================================================================================================

// (i) Стили будут применяться к
// всех классов, содержащих *__container
// Например header__container, main__container і т.п.
// Сниппет (HTML): cnt

@if ($responsiveType==1) {

	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}

		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}

			@else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 10);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 10);
			}
		}
	}

	// [class*="__container_header"] {
	// 	max-width: toRem(1325);
	// 	margin: 0 auto;
	// }

	[class*="__container--intro"] {
		max-width: toRem(1400);
		margin: 0 auto;
	}
}

// CSS-переменные ============================================================================================================================================================================================================================================================================================================================================================================================================================================
@import 'root';

@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
// @import "arhive";
@import "main-screen";
@import "premium-banner";
@import "target-ilifia";
@import "comfortable";
@import "community";
@import "experts";
@import "recipes-block";
@import "docs-experts";
@import "training";
@import "meditation-section";
@import "tariffs";
@import "training-blog";
@import "training-article";
@import "rec-blog";
@import "meditaion-blog";
@import "podcast-blog";
@import "docs-blog";
@import "profile-personal";