.target-ilifia {
    background-color: #fff;
}


.target-ilifia__container {}

.target-ilifia__title {
    margin-bottom: 40px;

    span {
        line-height: normal;
        font-weight: 600;
        @include adaptiveValue("font-size", 24, 16);
    }
}

.target-ilifia__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;

    @media (max-width:$tablet) {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
}

.target-ilifia__item {
    display: grid;
    grid-template-columns: 1fr 36%;

    border: 2px solid var(--grey);
    border-radius: 10px;
    overflow: hidden;

    backdrop-filter: blur(13px);
    background: #fff;

    @include adaptiveValue("padding-top", 40, 15);
    @include adaptiveValue("padding-right", 40, 15);
    @include adaptiveValue("padding-bottom", 40, 15);
    @include adaptiveValue("padding-left", 40, 15);
}

.target-ilifia__content {
    padding-right: toRem(10);
}

.target-ilifia__name {
    font-weight: 600;
    @include adaptiveValue("font-size", 24, 20);

    @include adaptiveValue("margin-bottom", 10, 7);
}

.target-ilifia__descr {

    line-height: normal;

    @media (max-width:$mobile) {
        font-size: 14px;
    }
}

.target-ilifia__media {
    position: relative;
}

.target-ilifia__img {
    position: absolute;
    bottom: -40px;
    right: -24%;

    @media (max-width:$tablet) {
        max-width: 100%;
    }
}