.target-ilifia__title {
    @include adaptiveValue("margin-bottom", 47, 31);

    span {
        font-family: $fontFamily;
        line-height: normal;
        font-weight: 600;
        @include adaptiveValue("font-size", 24, 16);

        @media (max-width:$mobile) {
            margin-top: 10px;
            display: block;
        }
    }
}

.target-ilifia__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;

    @media (max-width:$tablet) {
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 10px;
    }
}

.target-ilifia__item {
    display: grid;
    grid-template-columns: 1fr 36%;

    border: 2px solid var(--grey);
    border-radius: 10px;
    overflow: hidden;

    backdrop-filter: blur(13px);
    background: #fff;

    @include adaptiveValue("padding-top", 40, 15);
    @include adaptiveValue("padding-right", 40, 15);
    @include adaptiveValue("padding-bottom", 40, 15);
    @include adaptiveValue("padding-left", 40, 15);


    @media (max-width:$tablet) {
        max-width: 700px;
        margin: 0 auto;
    }

    @media (max-width: toEm(550)) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.target-ilifia__content {
    padding-right: toRem(10);

    @media (max-width: toEm(550)) {
        padding-right: 60px;
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }
}

.target-ilifia__name {
    font-weight: 600;
    @include adaptiveValue("font-size", 24, 20);

    @include adaptiveValue("margin-bottom", 15, 13);
}

.target-ilifia__descr {

    line-height: normal;

    @media (max-width:$mobile) {
        font-size: 14px;
    }
}

.target-ilifia__media {
    position: relative;
}

.target-ilifia__img {
    position: absolute;
    bottom: -40px;
    right: -24%;

    @media (max-width:$tablet) {
        max-width: 100%;
        bottom: -35px;
        right: -14%;
    }

    @media (max-width: toEm(550)) {
        bottom: -21px;
        right: -107%;
        width: 40%;
    }

    @media (max-width: toEm(430)) {
        width: 53%;
    }

    @media (max-width: toEm(360)) {
        width: 67%;
    }
}