.tariffs {

  background-color: #fff;

  /* .tariffs__container */
  &__container {}

  &__title {
    text-align: center;

    @include adaptiveValue("margin-bottom", 40, 30);
  }

  /* .tariffs__items */
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: toRem(20);
  }

  /* .tariffs__item */
  &__item {}

  /* .tariffs__label */
  &__label {
    display: none;

    /* Bright green */
    background: #B9FF83;
    border-radius: 0px 0px 10px 10px;

    .popular-tariff & {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 30px;
      width: 150px;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}


.item-tariffs {
  position: relative;
  padding: toRem(60) toRem(20) toRem(40);

  border: 2px solid var(--grey);
  border-radius: 20px;
  backdrop-filter: blur(13px);
  background: rgba(255, 255, 255, 0.5);


  &.popular-tariff {
    border: 5px solid var(--bright-green);
  }

  /* Frame 33 */








  @media (max-width:$mobile) {
    padding-bottom: toRem(30);
  }

  /* .item-tariffs__title */
  &__title {
    margin-bottom: toRem(20);

    font-family: $secondFamily;
    text-align: center;

    @include adaptiveValue("font-size", 36, 30);
  }

  /* .item-tariffs__list */
  &__list {
    padding-top: toRem(20);
    padding-bottom: toRem(20);
    display: grid;

    border-top: 2px solid var(--grey);
    border-bottom: 2px solid var(--grey);


    @include adaptiveValue("gap", 15, 10);
  }

  /* .item-tariffs__item */
  &__item {
    font-size: toRem(16);
    line-height: normal;


    @include adaptiveValue("padding-left", 30, 10);

    &::before {
      content: "";
      position: absolute;
      background: url(../img/check.svg) 0 0 no-repeat;
      width: 100%;
      height: 100%;
      left: 20px;
    }

    @media (max-width:$mobile) {
      font-size: toRem(14);
    }
  }

  /* .item-tariffs__bottom */
  &__bottom {
    padding-top: toRem(20);

    text-align: center;
  }

  /* .item-tariffs__old-price */
  &__old-price {
    margin-bottom: toRem(18);

    opacity: 0.3;

    font-family: $secondFamily;
    font-size: 24px;
    text-decoration: line-through;
  }

  /* .item-tariffs__price */
  &__price {
    margin-bottom: 24px;

    font-family: $secondFamily;
    font-size: toRem(36);
  }

  /* .item-tariffs__button */
  &__button {}
}


.popular-tariff {}